<div class="box-header" align="center">
  <h2 class="box-title">List Investasi Saya</h2>
</div>
<div class="box-body">
  <div class="row">
  <div align="center" *ngIf="statusInvests == 0"> 
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <br>
  </div>
  <!-- Main content -->
  <div class="row">
    <div class="col-xs-12" *ngIf="statusInvests == 1">
    <div class="tab-content ">
        <div role="tabpanel" class="tab-pane active" id="investasi">
        <div class="box-body data-tables table-responsive">
          <table class="table table-hover" id="example2">
            <thead>
              <tr>
                <th>No.</th>
                <th>Nama Investasi</th>
                <th>Investasi</th>
                <th>Tipe</th>
                <th>Kategori</th>
                <th>Nominal Investasi</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="dataInvestsNull == 1">
                <td colspan="5" align="center">Data belum tersedia</td>
              </tr>
              <tr *ngFor="let data of invests, let i = 'index';">
                <td>{{ i + 1 }}</td>
                <td align="left">{{ data.invest_name }}</td>
                <td><img src="{{ data.image_invest }}" alt="Investasi" style="border-radius: 5px;width:70px;height:70px"></td>
                <td>{{ data.type_invest }}</td>
                <td>{{ data.loan_category }}</td>
                <td>{{ data.amount }}</td>
                <td>
                  <button class="pull-right" *ngIf="data.loan_category == '-'" (click)="detailAddInvest(data.id)"><i aria-hidden="true" class="fa fa-info-circle"></i></button>
                  <button class="pull-right" *ngIf="data.loan_category != '-'" (click)="detailGiveInvest(data.id,data.borrower_id)"><i aria-hidden="true" class="fa fa-info-circle"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          </div>  
        <nav aria-label="Page navigation" *ngIf="total_pagination > 1">
          <ul class="pagination">
           <!--  <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li> -->
            <!-- <li *ngFor="let a of array_total"><a href="#/dashboard/fund" id="a" (click)="linkTo(a)">{{ a }}</a></li> -->
            <!-- <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li> -->
          </ul>
        </nav>      
        </div>
        <br><br>
      </div>
    </div>
  </div>  
</div>