<div class="content-wrapper" *ngIf="statusData == 1">
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <div class="panel-body-dashboard">
          <div class="panel-content">
            <div class="box-image">
              <a href="#" class="panel-content"><img class="box-icon" src="../../assets/img/icon/income.png"></a>
            </div>
            <div class="total">
              <label>{{ data.income }}</label> <br>
            <label>Total Pemasukan</label>
            </div>
            <div class="box-image">
              <a href="#" class="panel-content"><img class="graph" src="../../assets/img/icon/graph.png" style="margin-top: 8px;"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-body-dashboard">
          <div class="panel-content">
            <div class="box-image">
              <a href="#" class="panel-content"><img class="box-icon" src="../../assets/img/icon/2.png"></a>
            </div>
            <div class="total">
              <label>{{ data.total_investment }}</label> <br>
            <label>Total Investasi</label>
            </div>
            <div class="box-image">
              <a href="#" class="panel-content"><img class="graph" src="../../assets/img/icon/graph.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-body-dashboard">
          <div class="panel-content">
            <div class="box-image">
              <a href="#" class="panel-content"><img class="box-icon" src="../../assets/img/icon/loan2.png"></a>
            </div>
            <div class="total">
              <label>{{ data.total_loan }}</label> <br>
            <label>Total Pinjaman</label>
            </div>
            <div class="box-image">
              <a href="#" class="panel-content"><img class="graph" src="../../assets/img/icon/graph.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-body-dashboard">
          <div class="panel-content">
            <div class="box-image">
              <a href="#" class="panel-content"><img class="box-icon" src="../../assets/img/icon/with.png"></a>
            </div>
            <div class="total">
              <label>{{ data.total_withdrawal }}</label> <br>
            <label>Total Penarikan</label>
            </div>
            <div class="box-image">
              <a href="#" class="panel-content"><img class="graph" src="../../assets/img/icon/graph.png" style="margin-top: 16px;"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>