<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <div class="panel-body">
          <div class="panel-content">
            <div class="box-image">
              <a href="#" class="panel-content"><img class="box-icon" src="../../assets/img/icon/income.png"></a>
            </div>
            <div class="total">
              <label>Rp. 34.000.000</label> <br>
            <label>Total Income</label>
            </div>
            <div class="box-image">
              <a href="#" class="panel-content"><img class="graph" src="../../assets/img/icon/graph.png" style="margin-top: 8px;"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-body">
          <div class="panel-content">
            <div class="box-image">
              <a href="#" class="panel-content"><img class="box-icon" src="../../assets/img/icon/2.png"></a>
            </div>
            <div class="total">
              <label>Rp. 34.000.000</label> <br>
            <label>Total Investment</label>
            </div>
            <div class="box-image">
              <a href="#" class="panel-content"><img class="graph" src="../../assets/img/icon/graph.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-body">
          <div class="panel-content">
            <div class="box-image">
              <a href="#" class="panel-content"><img class="box-icon" src="../../assets/img/icon/loan2.png"></a>
            </div>
            <div class="total">
              <label>Rp. 34.000.000</label> <br>
            <label>Total Loan</label>
            </div>
            <div class="box-image">
              <a href="#" class="panel-content"><img class="graph" src="../../assets/img/icon/graph.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-body">
          <div class="panel-content">
            <div class="box-image">
              <a href="#" class="panel-content"><img class="box-icon" src="../../assets/img/icon/with.png"></a>
            </div>
            <div class="total">
              <label>Rp. 34.000.000</label> <br>
            <label>Withdraw</label>
            </div>
            <div class="box-image">
              <a href="#" class="panel-content"><img class="graph" src="../../assets/img/icon/graph.png" style="margin-top: 16px;"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>