<div class="form-group">
 <div class="col-md-12">
 <span class="required">*</span>
   <input type="text" placeholder="Nama Usaha" class="form-control input-md" name="nama_usaha" id="nama_usaha" [(ngModel)]="data.nama_usaha">
 </div>
</div>
<div class="form-group">
 <div class="col-md-12">
 <span class="required">*</span>
   <input type="text" placeholder="Tahun Perusahaan Berdiri" class="form-control input-md" name="tahun_perusahaan_berdiri" id="tahun_perusahaan_berdiri" [(ngModel)]="data.tahun_perusahaan_berdiri">
 </div>
</div>
<div class="form-group">
 <div class="col-md-12">
 <span class="required">*</span>
   <input type="text" placeholder="No Telp Perusahaan" class="form-control input-md" name="tlp_perusahaan" id="tlp_perusahaan" [(ngModel)]="data.tlp_perusahaan">
 </div>
</div>
<div class="form-group">
 <div class="col-md-12">
 <span class="required">*</span>
   <input type="text" placeholder="Jenis Perusahaan" class="form-control input-md" name="jenis_perusahaan" id="jenis_perusahaan" [(ngModel)]="data.jenis_perusahaan">
 </div>
</div>
<div class="form-group">
 <div class="col-md-12">
 <span class="required">*</span>
   <input type="text" placeholder="Pendapatan bersih perusahaan" class="form-control input-md" name="pendapatan_bersih_perusahaan" id="pendapatan_bersih_perusahaan" [(ngModel)]="data.pendapatan_bersih_perusahaan">
 </div>
</div>
<div class="form-group">
 <div class="col-md-12">
 <span class="required">*</span>
   <input type="text" placeholder="Jumlah Pengeluaran per Bulan" class="form-control input-md" name="pengeluaran_per_bulan" id="pengeluaran_per_bulan" [(ngModel)]="data.pengeluaran_per_bulan">
 </div>
</div>