<div class="container">
  <div class="form-account form-login-register" id="login">
  <br>
  <br>
    <h2>Login</h2>
    <p>Silakan isi data berikut untuk masuk ke aplikasi</p>
    <form class="form-horizontal clearfix row">
      <div class="col-md-6">
        <fieldset>
          <div class="form-box">

            <!-- Text input-->
            <div class="form-group">
              <div class="col-md-12">
                <input type="text" name="username" id="username" class="form-control input-md" [(ngModel)]="user.username" placeholder="No Handphone">
              </div>
            </div>
            <!-- Password input-->
            <div class="form-group">
              <div class="col-md-12" >
                <input type="password" name="password" class="form-control input-md" [(ngModel)]="user.password" placeholder="Password">
              </div>
            </div>
            <!-- Multiple Checkboxes (inline) -->
            <div class="form-group no-margin-left no-margin-right clearfix white-borderbottom">
              <div class="pull-left">
                <label class="checkbox-inline" for="login_options-0">
                <input type="checkbox" name="login_options" id="login_options-0" value="1">Selalu Log in</label>
              </div>
              <div class="pull-right">
                <label class="checkbox-inline" for="">
                <a href="#"><i class="fa fa-lock"></i> Lupa Password?</a>
                </label>
              </div>
            </div>
            <!-- Button -->
            <div class="form-group">
              <div class="col-md-12">
                <button type="submit" (click)="login(user)" name="singlebutton" class="btn btn-red btn-block" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i>  Loading..">Log in</button>
              </div>
            </div>
            
          </div>
        </fieldset>
      </div>
      <div class="col-md-6">
        <div class="form-group daftar-via">
          <div class="col-md-12">
            <p class="text-center">
              Anda belum memiliki akun silakan daftar terlebih dahulu
            </p>
          </div>
          <div class="col-md-12">
            <a href="#/auth/register" class="btn btn-akun">DAFTAR Akun</a>
            <span>Or</span>
            <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> DAFTAR VIA FACEBOOK</a>
            <a href="#" class="btn btn-twitter"><i class="fa fa-twitter"></i>  DAFTAR VIA EMAIL</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>