<div class="box-header" align="center">
  <h2 class="box-title">Detail Pinjaman</h2>
</div>
<div class="box-body">
  <div  *ngIf="dataDetailListMyInvest == 0">
  <div class="row">
    <div align="center"> 
      <br><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  </div>
  <div  *ngIf="dataDetailListMyInvest == 1">
    <div class="row">
      <div class="col-md-4">
      <div class="box box-solid radius-10" style="border: 100px">
        <div align="center">
          <label><h2 style="font-size: 24px;color: orange;">Pinjaman</h2></label>
        </div>
        <div class="form-group">
          <br><img src="{{ data.images }}" alt="Foto Pinjaman" class="thumbnail" width="250px" height="250px">
        </div>
        <div class="form-group">
          <button class="btn btn-default" (click)="cancelDetailInvest()">Kembali</button>
        </div>
      </div>
      </div>
      <div class="col-md-7">
      <div class="box box-solid radius-10">
        <div class="box-body">
          <div align="center">
           <label><h2 style="font-size: 24px;color: orange;">Detail Pinjaman</h2></label>
          </div>
          <br>
          <div class="col-md-12 clearfix">
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Nama Pinjaman</label>
            </div>
            <div class="col-md-7 clearfix">
              <input type="text" placeholder="Nama Pinjaman" class="form-control input-md" name="invest_name" id="invest_name" value="{{ data.invest_name }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Jumlah Pinjaman</label>
            </div>
            <div class="col-md-7 clearfix">
              <input type="text" placeholder="Jumlah Pinjaman" class="form-control input-md" name="amount" id="amount" value="{{ dataAmount }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <!-- null -->
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Tipe Pinjaman</label>
            </div>
            <div class="col-md-7 clearfix">
              <input type="text" placeholder="Tipe Pinjaman" class="form-control input-md" name="tipe" id="tipe" value="{{ data.tipe }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <!-- null -->
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Deskipsi</label>
            </div>
            <div class="col-md-7 clearfix">
              <textarea type="text" placeholder="Description" class="form-control input-md" name="description" id="description" value="{{ data.collateral_value }}" disabled></textarea>
            </div>
          </div>
          <div class="form-group">
            <!-- null -->
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Batas Penawaran</label>
            </div>
            <div class="col-md-7 clearfix">
              <input  type="text" placeholder="Batas Akhir Penawaran" name="due_date" class="form-control input-md" id="due_date" value="{{ data.due_date }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <!-- null -->
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Bunga</label>
            </div>
            <div class="col-md-5 clearfix">
              <input type="text" placeholder="Bunga" class="form-control input-md" name="interest" id="interest" value="{{ data.interest }}" disabled>
            </div>
            <label class="unit">%/Bulan</label>
          </div>
          <div class="form-group">
            <!-- null -->
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Tenor</label>
            </div>
            <div class="col-md-5">
              <input type="text" placeholder="Tenor" class="form-control input-md" name="tenor" id="tenor" value="{{ data.tenor }}" disabled>
            </div>
            <label class="unit">Bulan</label>
          </div>
          <div class="form-group">
            <!-- null -->
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <label><h2 style="font-size: 30px;color: orange;">Daftar Investor</h2></label>
      <div class="box-body data-tables table-responsive">
      <table class="table table-hover" id="example2">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nama Investor</th>
            <th>Nominal Investor (Rp)</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="dataArrayNull == 1">
            <td colspan="5" align="center">Data belum tersedia</td>
          </tr>
          <tr *ngFor="let dataInvestor of dataInvestor, let i ='index'">
            <td>{{ i + 1 }}</td>
            <td>{{ dataInvestor.investor_name }}</td>
            <td>{{ dataInvestor.loan_amount }}</td>
            <td>{{ dataInvestor.status }}</td>
            <td *ngIf="dataInvestor.status == 'Tunda'">
              <button class="pull-right" (click)="showDetailInvestorNotApproved(dataInvestor.id, data.id)"><i aria-hidden="true" class="fa fa-search"></i></button>
            </td>
            <td *ngIf="dataInvestor.status == 'Setuju' || dataInvestor.status == 'Tolak'">
              <button class="pull-right" (click)="showDetailInvestorApproved(data.id,dataInvestor.id)"><i aria-hidden="true" class="fa fa-search"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>  
      </div>
      <!-- component show detail investor not approved -->
      <part *ngIf="showPart == 'true'" [statusPart]="statusPart" [loanId]="loanId" [investId]="investId" (onHide2)="onHide2($event)" (statusInvestor)="statusInvestor($event)"></part>
    </div>
  </div>
</div>