<div class="form-account form-login-register" id="step-1">
<br><br>
      <h2>Registrasi</h2>
      <p>Silakan isi data berikut untuk mendaftarkan diri anda</p>
      <div class="row">
         <ul class="breadcrumb">
            <li class="active"><a href="javascript:void(0);"><span>1</span> Data Diri </a></li>
            <li><a href="javascript:void(0);"><span>2</span> Data Keluarga </a></li>
            <li><a href="javascript:void(0);"><span>3</span> Data Pekerjaan </a></li>
            <li><a href="javascript:void(0);"><span>4</span>  Data Penunjang</a></li>
         </ul>
      </div>
      <form class="form-horizontal clearfix row" name="registerForm" novalidate>
         <h3>Data Diri</h3>
         <div class="col-md-6">
            <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                  <input  type="text" name="nama_lengkap" placeholder="Nama Lengkap" class="form-control input-md" required [(ngModel)]="register.nama_lengkap">
               </div>
            </div>
            <!-- Password input-->
            <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                  <input  type="email" name="alamat_email" placeholder="Alamat Email " class="form-control input-md" required [(ngModel)]="register.alamat_email">
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                  <input  type="text" name="no_handphone" placeholder="Nomor Handphone" class="form-control input-md" required [(ngModel)]="register.no_handphone">
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                  <input  type="password" name ="password" placeholder="Password" class="form-control input-md" required [(ngModel)]="register.password">
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                  <input  type="password" name ="confirm_password" placeholder="Confirm Password" class="form-control input-md" required [(ngModel)]="register.confirm_password">
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                  <select class="form-control input-md" name="jenis_kelamin" required [(ngModel)]="register.jenis_kelamin">
                     <option selected="0" value="0">Jenis Kelamin</option>
                     <option value="1">Laki-laki</option>
                     <option value="2">Perempuan</option>                  
                  </select>
               </div>
            </div>

            <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                  <select class="form-control input-md" name="agama" required  [(ngModel)]="register.id_agama">
                     <option value="0" disabled [selected]>Agama</option>
                     <option *ngFor="let b of agama" [value]="b.id_agama">{{ b.desc_agama }}</option>
                  </select>
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                  <input  type="text" placeholder="Tempat Lahir " name="tempat_lahir" class="form-control input-md" required [(ngModel)]="register.tempat_lahir">
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                  <!-- <div class="box-datepicker"> -->
                     <input  type="text" placeholder="Tanggal Lahir " name="tanggal_lahir" class="form-control input-md datepicker" id="tanggal_lahir" required [(ngModel)]="register.tanggal_lahir">
                  <!-- </div> -->
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                  <textarea placeholder="Alamat " class="form-control input-md" name="alamat" required [(ngModel)]="register.alamat"></textarea>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <fieldset>
               <div class="form-box">
                  <!-- Text input-->
                  <div class="form-group">
                     <div class="col-md-4">
               <span class="required">*</span>
                        <select class="form-control input-md" name="provinsi" required [(ngModel)]="register.id_provinsi">
                           <option value="0" disabled>Provinsi</option>
                           <option *ngFor="let c of province" [value]="c.id_provinsi">
                              {{ c.desc_provinsi }}
                           </option>
                        </select>
                     </div>
                     <div class="col-md-4">
               <span class="required">*</span>
                        <select class="form-control input-md" name="kota" required [(ngModel)]="register.id_kota">
                           <option>Kota</option>
                           <option value="1">Bandung</option>
                        
                        </select>
                     </div>
                     <div class="col-md-4">
               <span class="required">*</span>
                        <input  type="text" placeholder="Kode Pos" name="kode_pos" class="form-control input-md" required [(ngModel)]="register.kode_pos">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-12">
                        <select class="form-control input-md" name="status_rumah" required [(ngModel)]="register.id_status_rumah">
                           <option selected value="0" disabled="">Status Rumah</option>
                            <option *ngFor="let c of status_rumah" [value]="c.id_status_rumah">
                              {{ c.desc_status_rumah }}
                           </option>
                        </select>
                     </div>
                  </div>
                  <!-- Password input-->
                  <div class="form-group">
                     <div class="col-md-6">
                        <input  type="text" placeholder="Luas Tanah " class="form-control input-md" name="luas_tanah" required [(ngModel)]="register.luas_tanah">
                     </div>
                     <div class="col-md-6">
                        <input  type="text" placeholder="Luas Bangunan" class="form-control input-md" name="luas_bangunan" required [(ngModel)]="register.luas_bangunan">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-6">
               <span class="required">*</span>
                        <select class="form-control input-md" name="identitas" required [(ngModel)]="register.id_tipe_identitas">
                           <option selected value="0" disabled>Pilih Identitas</option>
                           <option *ngFor="let d of tipe_identitas" [value]="d.id_tipe_identitas">
                              {{ d.desc_tipe_identitas }}
                           </option>
                        </select>
                     </div>
                     <div class="col-md-6">
               <span class="required">*</span>
                        <input  type="text" placeholder="Nomor Identitas" class="form-control input-md" name="nomor_identitas" required [(ngModel)]="register.nomor_identitas">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-12">
               <span class="required">*</span>
                        <select class="form-control input-md" name="status" required [(ngModel)]="register.id_status">
                           <option selected value="0" disabled="">Status</option>
                           <option *ngFor="let e of status" [value]="e.id_status">
                              {{ e.desc_status }}
                           </option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-12">
                        <input  type="text" placeholder="Nomor NPWP" class="form-control input-md" name="npwp" required [(ngModel)]="register.nomor_npwp">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-6">
               <span class="required">*</span>
                        <select class="form-control input-md" name="bank" required [(ngModel)]="register.id_tipe_bank">
                           <option selected value="0" disabled>Pilih Bank</option>
                           <option *ngFor="let f of tipe_bank" [value]="f.id_tipe_bank">
                              {{ f.desc_tipe_bank }}
                           </option>
                        </select>
                     </div>
                     <div class="col-md-6">
               <span class="required">*</span>
                        <input  type="text" placeholder="Nomor Rekening" class="form-control input-md" name="nomor_rekening" required [(ngModel)]="register.nomor_rekening">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-12">
               <span class="required">*</span>
                        <input  type="text" placeholder="Nomor Telepon" class="form-control input-md" name="nomor_telepon" required [(ngModel)]="register.telepon">
                     </div>
                  </div>
                  <!-- Multiple Checkboxes (inline) -->
               </div>
            </fieldset>
         </div>
         <div class="col-md-12">
            <!-- Button -->
            <div class="form-group">
               <div class="col-md-6 col-center">
                  <button  class="btn btn-default" (click)="cancelRegister(register )">Batal</button>
                  <button  class="btn btn-red"  (click)="nextStepTwo(register)">Lanjutkan</button>
               </div>
            </div>
         </div>
      </form>
</div>
<step2></step2>
<step3></step3>
<step4></step4>


