<!-- Main content -->
<div class="content-wrapper">
<section class="content list-user">
  <div class="row">
  <div class="col-md-12">
    <div class="box bg-transparent">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <!-- <li role="presentation" class="active"> -->
        <li role="presentation" class="{{ classInvest }}">
          <a href="#/dashboard/other-user-action/invest" aria-controls="home" role="tab" aria-expanded="true" style="color:#34495e" (click)="invest()">
            Pinjaman
          </a>
        </li>
        <li role="presentation" class="{{ classLoan }}">
          <a href="#/dashboard/other-user-action/loan" aria-controls="profile" role="tab" aria-expanded="false" style="color:#34495e" (click)="loan()" >Investasi</a>
          <!-- <a href="#/dashboard" aria-controls="profile" role="tab" aria-expanded="false" style="color:#34495e" onclick="alert('Page not available')">
            Investasi
          </a> -->
        </li>
      </ul>
      <br>
      <form class="form-horizontal clearfix row white-bg detail-page form-space">
      <div class="tab-content ">
      	<div class="col-md-12">
          <!-- content route -->
          <router-outlet></router-outlet>
    		</div>
    	</div>
    	</form>
    </div>
  </div>
  </div>
</section>
</div>