<div id="home-content">
<div>
  <section class="panel room">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12 first-content">
          <img src="../../assets/img/logo.png">
          <p>Investasi pada Usaha Mikro & UKM dengan Risiko Terukur dan Imbal hasil menarik</p>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane active" id="home">
        <!-- component login -->
        <login (statusForgot)="showForgot($event)"></login>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="oneline-home"></div>
        </div>
        <div class="col-md-2"><label class="batas" style="color:#2c3e50">ATAU</label></div>
        <div class="col-md-5">
          <div class="oneline-home"></div>
        </div>
      </div>
      <div class="box-header">
        <h2 class="box-title pull-left" style="font-size: 20px;margin: 15px 0px 10px 10px">Buat Akun Baru</h2>
      </div>
      <div class="row">
        <!-- component register phone number -->
        <phone-number (statusVerify)="showVerify($event)"></phone-number>
      </div>
    </div>
    <!-- component verify code -->
    <verify-code *ngIf="statusFormVerify == 1" (statusModal)="hideModalVerify($event)" [dataPhone]="phoneNumber"></verify-code>
    <!-- component forgot password -->
    <forgot-password *ngIf="statusFormForgot == 1" (statusModal)="hideModal($event)"></forgot-password>
  </section>
</div>
</div>