<header class="main-header">
    <!-- Logo -->
    <a href="#/dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="../../assets/img/logo-mini.png" /></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="../../assets/img/logo.png"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="">Dashboard</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown notifications-menu">
            <a href="#/dashboard" class="dropdown-toggle">
              <i class="fa fa-search"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="header">
                <form action="#" method="get" class="sidebar-form">
                  <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                          </button>
                        </span>
                  </div>
                </form>
              </li>
            </ul>
          </li>
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#/dashboard" class="dropdown-toggle" >
              <i class="fa fa-envelope-o"></i>
              <!-- <span class="label label-danger">4</span> -->
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="../../assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="../../assets/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        AdminLTE Design Team
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="../../assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="../../assets/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Sales Department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="../../assets/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#/dashboard" class="dropdown-toggle">
              <i class="fa fa-bell-o"></i>
              <!-- <span class="label label-danger">3</span> -->
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#/dashboard" data-toggle="control-sidebar"><i class="fa fa-cog"></i></a>
          </li>
          <li>
            <a href="#/dashboard/profile" data-toggle="control-sidebar"><i class="fa fa-user"></i></a>
          </li>
          <li>
            <a href="#/dashboard/sign-out" data-toggle="control-sidebar"><i class="fa fa-sign-out"></i></a>
          </li>
        </ul>
      </div>

      <hr class="hr-nav">

      <div class="clearfix content-bottom-nav">
        <div class="col-lg-5 col-xs-5 col-sm-offset-1">
          <div class="pull-left profile-left">
            <img src="../../assets/img/profile.png" height="100" width="100">
            <!-- <img src="{{ profile_image }}" height="100" width="100" alt="Foto profile"> -->
            
            <!-- <img class="verify-check" src="../../assets/img/green-checklist.png"> -->
          </div>
          
          <div class="pull-right profile-right">
            <h3>{{ name }} <span style="color:white">{{ user_status }}</span></h3>
            <!-- <p class="no-margin-bottom">Class {{ user_class }}<span>Status User: {{ user_status }}</span></p> -->
            <p class="no-margin-bottom">Investor: {{ borrower }}<span>Borrower: {{ borrower }}</span></p>
            <p class="no-margin-bottom">Credit: {{ fund_history }}<span>Salary: {{ user_class }}</span></p>
            <div class="clearfix">
                <!-- <i class="fa fa-star-half-full full" area-hidden="true"></i> -->
                <i class="fa fa-star null" aria-hidden="true"></i>
                <i class="fa fa-star null" aria-hidden="true"></i>
                <i class="fa fa-star null" aria-hidden="true"></i>
                <i class="fa fa-star null" aria-hidden="true"></i>
                <i class="fa fa-star null" aria-hidden="true"></i>
<!--     <span class="bs-glyphicons-list">
         <span class="glyphicon glyphicon-star star-color star-full"></span>
        <span class="glyphicon glyphicon-star star-color font half"></span>
      </span> -->

                <span>({{ avg_reviews }} %)</span>
            </div>
            <br>
            <div *ngIf="is_complete == 0">
            <!-- <div> -->
            <a href="#/dashboard/complement-user">
            <!-- <a href="#/dashboard"> -->
            <button class="btn btn-red" style="background-color:#c0392b;">
              Lengkapi data!
            </button>
            </a>
            </div>
          </div>
        </div>
         <div class="col-lg-5 col-xs-5">
          <div class="pull-left balance-left"><img src="../../assets/img/dollar-bag.png"></div>
          <div class="pull-right balance-right ">
            <p>Balance</p>
            <h2>{{ account_summary }}</h2>
          </div>
        </div>
      </div>
      <ul class="link-bottom-nav clearfix">
        <li><a class="direct-link" href="#/dashboard/fund/fund-add/create">Tambah Dana</a></li>
        <li>
          <a href="#/dashboard/fund">
          <button class="" type="button">
            <img src="../../assets/img/icon-load.png">
          </button>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Investasi Saya</a></li>
            <li><a href="#">Pinjaman Saya</a></li>
          </ul>
        </li>
        <li><a class="direct-link" href="#/dashboard/fund/fund-withdrawal/create">Tarik Dana</a></li>
      </ul>
    </nav>
  </header>


