<div class="form-group">
<div class="col-md-12">
 <span class="required">*</span>
 <label>Foto Identitas</label>
 <!-- <div class="input-group"> -->
 	<input type="file" name="foto_identitas" id="foto_identitas">
 <!-- </div> -->
</div>
</div>   
<div class="form-group">
<div class="col-md-12">
 <!-- <div class="input-group"> -->
 <span class="required">*</span>
 <label>Foto NPWP</label>
  <input type="file" name="foto_npwp" id="foto_npwp">
 <!-- </div> -->
</div>
</div>
<div class="form-group">
<div class="col-md-12">
 <!-- <div class="input-group"> -->
 <span class="required">*</span>
 <label>Foto Diri</label>
  <input type="file" name="foto_diri" id="foto_diri">
 <!-- </div> -->
</div>
</div>
