<section class="content">
<div  *ngIf="dataDetailListMyInvest == 0">
<div class="row">
  <div align="center"> 
    <br><br><br><br><br>
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>
</div>
<div  *ngIf="dataDetailListMyInvest == 1">
<div class="row">
  <div class="col-md-4">
    <div class="box box-solid radius-10" style="border: 100px">
      <div align="center">
        <label><h2 style="font-size: 24px;color: orange;">Investor</h2></label>
      </div>
      <div class="form-group">
      <br>
          <img src="{{ data.foto_diri }}" alt="Foto Diri Investor" class="thumbnail" width="250px" height="250px">
      </div>
      <div class="form-group">
        <button class="btn btn-default" (click)="cancelDetailInvest()">Kembali</button>
    </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="box box-solid radius-10">
    <div class="box-body">
    <div align="center">
     <label><h2 style="font-size: 24px;color: orange;">Detail Investasi</h2></label>
    </div>
    <br>
   <div class="col-md-12 clearfix"> 
     <div class="form-group">
       <div class="col-md-4 clearfix">
         <label class="unit">ID Investasi</label>
       </div>
       <div class="col-md-7 clearfix">
         <input type="text" placeholder="ID Investasi" class="form-control input-md" name="id" id="id" value="{{ data.id }}" disabled>
       </div>
     </div>
     <div class="form-group">
       <div class="col-md-4 clearfix">
         <label class="unit">Nama Investasi</label>
       </div>
       <div class="col-md-7 clearfix">
         <input type="text" placeholder="Nama Investasi" class="form-control input-md" name="invest_name" id="invest_name" value="{{ data.invest_name }}" disabled>
       </div>
     </div>
    <div class="form-group">
      <div class="col-md-4 clearfix">
        <label class="unit">Jumlah Investasi</label>
      </div>
      <div class="col-md-7 clearfix">
        <input type="text" placeholder="Jumlah Investasi" class="form-control input-md" name="amount" id="amount" value="{{ dataAmount }}" disabled>
      </div>
    </div>
    <div class="form-group">
      <!-- null -->
    </div>
    <div class="form-group">
       <div class="col-md-4 clearfix">
         <label class="unit">Tipe Investasi</label>
       </div>
       <div class="col-md-7 clearfix">
         <input type="text" placeholder="Tipe Investasi" class="form-control input-md" name="tipe" id="tipe" value="{{ data.tipe }}" disabled>
       </div>
    </div>
    <div class="form-group">
      <!-- null -->
    </div>
   <div class="form-group">
     <div class="col-md-4 clearfix">
       <label class="unit">Deskipsi</label>
     </div>
     <div class="col-md-7 clearfix">
       <textarea type="text" placeholder="Description" class="form-control input-md" name="description" id="description" value="{{ data.collateral_value }}" disabled></textarea>
      </div>
   </div>
   <div class="form-group">
      <!-- null -->
    </div>
     <div class="form-group">
     <div class="col-md-4 clearfix">
       <label class="unit">Batas Penawaran</label>
     </div>
       <div class="col-md-7 clearfix">
         <input  type="text" placeholder="Batas Akhir Penawaran" name="due_date" class="form-control input-md" id="due_date" value="{{ data.due_date }}" disabled>
       </div>
     </div>
     <div class="form-group">
      <!-- null -->
    </div>
      <div class="form-group">
      <div class="col-md-4 clearfix">
       <label class="unit">Bunga</label>
      </div>
      <div class="col-md-5 clearfix">
       <input type="text" placeholder="Bunga" class="form-control input-md" name="interest" id="interest" value="{{ data.interest }}" disabled>
      </div>
       <label class="unit">%/Bulan</label>
     </div>
     <div class="form-group">
      <!-- null -->
    </div>
    <div class="form-group">
      <div class="col-md-4 clearfix">
        <label class="unit">Tenor</label>
      </div>
      <div class="col-md-5">
       <!-- <div class="col-md-10 clearfix"> -->
         <input type="text" placeholder="Tenor" class="form-control input-md" name="tenor" id="tenor" value="{{ data.tenor }}" disabled>
       <!-- </div> -->
      </div>
       <label class="unit">Bulan</label>
     </div>
     <div class="form-group">
      <!-- null -->
    </div>
     <!-- <div class="form-group">
     <div class="col-md-4 clearfix">
       <label class="unit">Charge Fee</label>
     </div>
      <div class="col-md-7 clearfix">
        <input type="text" placeholder="Charge Fee" class="form-control input-md" name="charge_fee" id="charge_fee" value="{{ data.charge_fee }}" disabled>
      </div>
     </div>
     <div class="form-group"> -->
      <!-- null -->
    <!-- </div>
     <div class="form-group">
     <div class="col-md-4 clearfix">
       <label class="unit">Success Fee</label>
     </div>
      <div class="col-md-7 clearfix">
         <input type="text" placeholder="Success Fee" class="form-control input-md" name="success_fee" id="success_fee" value="{{ data.success_fee }}" disabled>
      </div>
     </div> -->
     </div>
    <div class="col-md-12">
      <div class="form-group">
      <div align="center">
        <label class="unit"><b>Foto Investasi</b></label>
          <img src="{{ data.images }}" alt="Bukti Transfer" class="thumbnail" width="250px" height="250px">
      </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
 <label><h2 style="font-size: 30px;color: orange;">Daftar Peminjam</h2></label>
  <div class="box-body data-tables table-responsive">
  <table class="table table-hover" id="example2">
    <thead>
      <tr>
        <th>No.</th>
        <th>Nama Peminjam</th>
        <th>Nominal Pinjaman (Rp)</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataBorrower of dataBorrower, let i ='index'">
        <td>{{ i + 1 }}</td>
        <td>
          {{ dataBorrower.borrower_name }}
        </td>
        <td>{{ dataBorrower.loan_amount }}</td>
        <td>{{ dataBorrower.status }}</td>
        <td *ngIf="dataBorrower.status == 'Tunda'">
          <button class="pull-right" [routerLink]="['/dashboard/user-action/user-invest/detail', data.id ,'loan-not-been-approved', dataBorrower.id]"><i aria-hidden="true" class="fa fa-search"></i></button>
        </td>
        <td *ngIf="dataBorrower.status == 'Setuju' || dataBorrower.status == 'Tolak'">
          <button class="pull-right" (click)="showDetailBorrowerApproved(dataBorrower.id)">
            <i aria-hidden="true" class="fa fa-search"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>  
  </div>
</div>
</div>
  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="showDetailBorrowerApproved(dataBorrower.id)">Open Modal</button> -->

  <!-- Modal -->
  <div class="modal fade modal-lg" id="myModal" style="z-index:9000;">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="hideDetailBorrowerApproved(dataBorrower.id)">&times;</button>
          <h4 class="modal-title">Detail Peminjam</h4>
        </div>
        <div class="modal-body">
        <div  *ngIf="loaderBorrowerApproved == 0">
          <div class="row">
            <div align="center"> 
              <br><br><br><br><br>
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div  *ngIf="loaderBorrowerApproved == 1">
          <div class="row">
            <div class="col-md-4">
             <img src="{{ dataDetailBorrower.borrower_image }}" alt="Foto Peminjam">
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="col-xs-4">
                  <label class="unit">Nama Lengkap</label>
                </div>
                <div class="col-xs-7">
                  <input type="text" placeholder="Nama Lengkap" class="form-control input-md" name="full_name" id="full_name" value="{{ dataDetailBorrower.borrower_name }}" disabled>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label class="unit">Borrower</label>
                </div>
                <div class="col-xs-7">
                  <input type="text" placeholder="Borrower" class="form-control input-md" name="borrower" id="borrower" value="{{ dataDetailBorrower.borrower }}" disabled>
                </div>
             </div>
             <div class="form-group">
                <div class="col-xs-4">
                  <label class="unit">Credit</label>
                </div>
                <div class="col-xs-7">
                  <input type="text" placeholder="Credit" class="form-control input-md" name="credit" id="credit" value="{{ dataDetailBorrower.fund_history }}" disabled>
                </div>
             </div>
             <div class="form-group">
                <div class="col-xs-4">
                  <label class="unit">Salary</label>
                </div>
                <div class="col-xs-7">
                  <input type="text" placeholder="Salary" class="form-control input-md" name="salary" id="salary" value="{{ dataSalary }}" disabled>
                </div>
             </div>
             <div class="form-group">
                <div class="col-xs-4">
                  <label class="unit">Review</label>
                </div>
                <div class="col-xs-7">
                  <div class="unit">
                      <!-- <i class="fa fa-star-half-full full" area-hidden="true"></i> -->
                      <i class="fa fa-star null" aria-hidden="true" style="font-size: 24px;color: orange"></i>
                      <i class="fa fa-star null" aria-hidden="true" style="font-size: 24px;color: orange"></i>
                      <i class="fa fa-star null" aria-hidden="true" style="font-size: 24px;color: orange"></i>
                      <i class="fa fa-star null" aria-hidden="true" style="font-size: 24px; color: orange"></i>
                      <i class="fa fa-star null" aria-hidden="true" style="font-size: 24px;color: orange"></i>
                      <!-- <span class="bs-glyphicons-list">
                      <span class="glyphicon glyphicon-star star-color star-full"></span>
                      <span class="glyphicon glyphicon-star star-color font half"></span>
                      </span> -->
                      <!-- <span>({{ avg_reviews }} %)</span> -->
                      <span>({{ dataDetailBorrower.avg_reviews }} %)</span>
                  </div>
                </div>
             </div>
             <div class="form-group">
                <div class="col-xs-4">
                  <label class="unit">Jumlah Pinjaman</label>
                </div>
                <div class="col-xs-7">
                  <input type="text" placeholder="Nilai Pinjaman" class="form-control input-md" name="nilai_pinjaman" id="nilai_pinjaman" value="{{ dataBorrowerAmount }}" disabled>
                </div>
             </div> 
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
           <label><h2 style="font-size: 30px;color: orange;">Riwayat Pembayaran</h2></label>
            <div class="box-body data-tables table-responsive">
            <table class="table table-hover" id="example2">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Angsuran Ke</th>
                  <th>Tanggal Jatuh Tempo</th>
                  <th>Tanggal Pembayaran</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dataPayment of dataPayment, let i ='index'">
                  <td>{{ i + 1 }}</td>
                  <td>
                    {{ dataPayment.installment_order }}
                  </td>
                  <td>{{ dataPayment.due_date }}</td>
                  <td>{{ dataPayment.payment_date }}</td>
                  <td>{{ dataPayment.status }}</td>
                  <td *ngIf="dataBorrower.status == 'Tunda'">
                    <button class="pull-right" [routerLink]="['/dashboard/user-action/user-invest/detail', data.id ,'loan-not-been-approved', dataBorrower.id]"><i aria-hidden="true" class="fa fa-search"></i></button>
                  </td>
                  <td *ngIf="dataBorrower.status == 'Setuju' || dataBorrower.status == 'Tolak'">
                    <button class="pull-right" (click)="showDetailBorrowerApproved(dataBorrower.id)">
                      <i aria-hidden="true" class="fa fa-search"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>  
            </div>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="hideDetailBorrowerApproved(dataBorrower.id)">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>