<div class="form-group">
  <div class="col-md-12">
       <span class="required">*</span>
       <label>Foto depan buku tabungan</label>
        <input type="file" name="foto_tabungan" id="foto_tabungan">
  </div>
</div>  
<div class="form-group">
<div class="col-md-10 clearfix">
<span class="required">*</span>
 <select class="form-control input-md" name="bank" id="bank" (change)="getBankName($event.target.value)" [(ngModel)]="data.bank">
      <option value="0" disabled>Bank</option>
      <option *ngFor="let data_bank of banks" [value]="data_bank.id_tipe_bank">
        {{ data_bank.desc_tipe_bank }}
      </option>
   </select>
</div>
</div>
<div class="form-group">
 <div class="col-md-12">
     <span class="required">*</span>
   <input type="text" placeholder="No Rekening" class="form-control input-md" name="no_rekening" id="no_rekening" [(ngModel)]="data.no_rekening">
 </div>
</div> 