<div class="form-login-register">
  <form class="form-horizontal clearfix row" name="createForm" id="createForm" #createForm="ngForm">
    <div class="col-md-12">
      <fieldset disabled>
      <div class="form-group">
        <div class="col-md-10 clearfix">
          <label>Nominal Referensi :</label>
          <input type="text" placeholder="Nominal Referensi" class="form-control input-md" name="no_reference" id="no_reference" [(ngModel)]="data.no_reference" disabled>
        </div>
       </div>
      <div class="form-group">
        <div class="col-md-10 clearfix">
          <label>Nama Lengkap :</label>
          <input type="text" placeholder="Nama Lengkap" class="form-control input-md" name="nama_lengkap" id="nama_lengkap" [(ngModel)]="data.nama_lengkap" disabled>
        </div>
      </div>
      </fieldset>
      <div class="form-group">
        <div class="col-md-10 clearfix">
          <span class="required">*</span>
          <label>Bank :</label>
          <select class="form-control input-md" name="bank_name" id="bank_name" (change)="getBankName($event.target.value)" [(ngModel)]="data.bank_id">
            <option value="0" disabled>Pilih Bank</option>
            <option *ngFor="let bank of banks" [value]="bank.id_tipe_bank">{{ bank.desc_tipe_bank }}</option>
          </select>
        </div>
      <br>
      </div>
      <div class="form-group">
        <div class="col-md-10 clearfix">
          <div *ngIf="bank == -1">
            <input type="text" placeholder="Nama Bank" class="form-control input-md" name="other_bank" id="other_bank" [(ngModel)]="data.nama_bank_lainnya">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 clearfix">
          <span class="required">*</span>
          <label>Nomor Rekening :</label>
          <input type="text" placeholder="Nomor Rekening" class="form-control input-md" name="no_rekening" id="no_rekening" [(ngModel)]="data.no_rekening">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 clearfix">
          <span class="required">*</span>
          <label>Nominal :</label>
          <input type="text" placeholder="Nominal" class="form-control input-md" name="amount" id="amount" [(ngModel)]="data.amount">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-5 clearfix">
          <span class="required">*</span>
          <label>Pilih Bank MassCredit :</label>
          <select class="form-control input-md" name="tujuan_bank" id="tujuan_bank" (change)="getTujuanBank($event.target.value)" [(ngModel)]="data.id_bank_masscredit">
            <option value="0" disabled>Pilih Bank</option>
            <option *ngFor="let bankMassCredit of bankMassCredits" [value]="bankMassCredit.id_tipe_bank">{{ bankMassCredit.nama_bank }}</option>
          </select>
        </div>
        <div class="col-md-5 clearfix">  
          <div *ngIf="idBankMasscredit == 0">
            <label>No Rekening MassCredit :</label>
            <fieldset disabled>
              <input type="text" placeholder="No Rekening Tujuan" class="form-control input-md">
            </fieldset>
          </div>
          <div *ngFor="let bankMassCredit of bankMassCredits">
            <div *ngIf="idBankMasscredit == bankMassCredit.id_tipe_bank">
            <label>No Rekening MassCredit :</label>
            <fieldset disabled>
              <input type="text" placeholder="No Rekening Tujuan" class="form-control input-md" name="no_rekening_tujuan" id="no_rekening_tujuan" value="{{ bankMassCredit.no_rekening }}">
            </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="col-md-12 col-center">
    <button class="btn btn-default" (click)="cancelFund()">Batal</button>
    <button class="btn btn-red" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i>  Loading.." name="singlebutton" type="submit" (click)="createFund()">Simpan</button>
  </div>
</div>