 <!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box bg-transparent">
        <div class="box-header">
          <h2 class="box-title pull-left">Pinjaman</h2>
          <div class="pull-right">
<!--             <select class="box-datepicker">
              <option>Tipe Pinjaman</option>
            </select> -->
<!--             <div class="box-datepicker">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <input id="" name="" type="text" placeholder="30 May 2015" class="form-control input-md datepicker" required="">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div class="box-datepicker">
              <input type="text" class="" placeholder="Cari" />
              <img src="../../assets/img/icon-search.png" class="icon-search">
            </div> -->
            <a href="#/dashboard/pinjaman/index" color="white">
            <button class="add-advance-search">Tambah
            </button>
            </a>
            <!-- <button type="submit" (click)="listPinjaman()" class="add-advance-search">List Investasi</button> -->
           </div>
        </div>


        <!-- /.box-header -->
        <div class="box-body data-tables table-responsive">
          <table id="example2" class="table table-hover">
            <thead>
              <tr>
                <th>No.</th>
                <th>Nama Investasi</th>
                <th>Tanggal</th>
                <th>Tipe Pinjaman</th>
                <th>Nominal Investasi</th>
                <th>Sisa Investasi</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of pinjaman">                              
                <td>{{ a.id }}</td>
                <td>
                  <img src="{{ a.image_invest }}">
                   {{ a.invest_name }}
                </td>
                <td>{{ a.due_date }}</td>
                <td><span class="warranty">{{ a.type_invest }}</span></td>
                <td>{{ a.amount }}</td>
                <td>0</td>
                <td>
                  <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                  <a class="pull-right" [routerLink]="['/dashboard/pinjaman/detail', a.id]"><i class="fa fa-search" aria-hidden="true"></i></a>
                </td>
              </tr>
              

            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>

</section>
<!-- /.content -->