
 <div class="form-group">
  <div class="col-md-12">
  <span class="required">*</span>
    <input type="text" placeholder="Nama Perusahaan" class="form-control input-md" name="nama_perusahaan" id="nama_perusahaan" [(ngModel)]="data.nama_perusahaan">
  </div>
   </div>
   <div class="form-group">
  <div class="col-md-12">
  <span class="required">*</span>
    <input type="text" placeholder="Mulai Bekerja" class="form-control input-md datepicker" name="mulai_bekerja" id="mulai_bekerja">
  </div>
   </div>
   <div class="form-group">
  <div class="col-md-12">
  <span class="required">*</span>
    <input type="text" placeholder="Jabatan" class="form-control input-md" name="jabatan" id="jabatan" [(ngModel)]="data.jabatan">
  </div>
   </div>
   <div class="form-group">
  <div class="col-md-12">
  <span class="required">*</span>
    <input type="text" placeholder="Pekerjaan" class="form-control input-md" name="pekerjaan" id="pekerjaan" [(ngModel)]="data.pekerjaan">
  </div>
   </div>
   <div class="form-group">
  <div class="col-md-12">
  <span class="required">*</span>
    <input type="text" placeholder="Gaji per bulan" class="form-control input-md" name="gaji_per_bulan" id="gaji_per_bulan" [(ngModel)]="data.gaji_per_bulan">
  </div>
   </div>
 <div class="form-group">
  <div class="col-md-12">
  <span class="required">*</span>
    <input type="text" placeholder="Jumlah Pengluaran per Bulan" class="form-control input-md" name="pengeluaran_per_bulan" id="pengeluaran_per_bulan" [(ngModel)]="data.pengeluaran_per_bulan">
  </div>
 </div>
   <div class="form-group">
  <div class="col-md-12">
  <span class="required">*</span>
    <input type="text" placeholder="No telp Perusahaan" class="form-control input-md" name="tlp_perusahaan" id="tlp_perusahaan" [(ngModel)]="data.tlp_perusahaan">
  </div>
   </div>
