<div class="col-md-4">
  <div class="row">
    <div class="box-header" align="center">
      <label><h2 style="font-size: 24px;color: orange;">Form Pinjaman</h2></label>
    </div><br><br>
    <div class="box-body">
    <div class="col-xs-12">
      <!-- component calculation -->
      <form id="FormSimulation" name="FormSimulation">
      <div class="form-group">
        <input type="text" placeholder="Jumlah Pinjaman" class="form-control input-md" name="jumlah" id="jumlah" value="{{dataCalculation.jumlah}}" (keyup)="numbersonly(this,$event)" [(ngModel)]="dataCalculation.jumlah">
      </div>
      </form>
      <div class="form-group">
        <button class="btn-back">KEMBALI</button>
        <button type="submit" class="btn-simulation-loan" (click)="calculationInvest()">KALKULASI</button>
      </div>
      <hr>
      <!-- <div align="center" *ngIf="dataDetailInvest == 3"> 
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div> -->
    </div>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="box-header" align="center">
      <h2 class="box-title">Kalkulasi Pinjaman</h2>
    </div>
    <div class="box-body">
      <div class="row">
      <div class="col-xs-12">     
        <!-- component form loan -->
        <form name="FormLoan" id="FormLoan">
          <fieldset disabled>
            <div class="form-group">
              <div class="col-xs-5">
                <label class="unit">Nominal</label>
              </div>
              <div class="col-xs-7">
                <input type="text" name="nominal" placeholder="-" class="form-control input-md" id="nominal" [(ngModel)]="simulation.nominal">
              </div>
           </div>
            <div class="form-group">
              <div class="col-xs-5">
                <label class="unit">Pokok</label>
              </div>
              <div class="col-md-7">
                <input type="text" name="pokok" placeholder="-" class="form-control input-md" id="pokok" [(ngModel)]="simulation.pokok"> 
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-5">
                <label class="unit">Bunga</label>
              </div>
              <div class="col-md-7">
                <input type="text" placeholder="-" class="form-control input-md" name="bunga" id="bunga" [(ngModel)]="simulation.success_fee">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-5">
                <label class="unit">Denda</label>
              </div>
              <div class="col-md-7">
                <input type="text" placeholder="-" class="form-control input-md" name="denda" id="denda" [(ngModel)]="simulation.denda">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-5">
                <label class="unit">Pokok plus bunga</label>
              </div>
              <div class="col-md-7">
                <input type="text" placeholder="-" class="form-control input-md" name="pokok-plus-bunga" id="pokok-plus-bunga" [(ngModel)]="simulation.pokok_plus_bunga">
              </div>
            </div>
          </fieldset>
        </form>
        <div class="col-md-12" *ngIf="statusCalculation == 1">
          <div class="form-group col-center">
          <div align="center">
            <span class="input-group-addon">
              <input type="checkbox" [checked]="isOn === dataIsOn[0].value" (change)="$event.target.checked? (isOn = dataIsOn[0].value) : (isOn = dataIsOn[1].value)">
              <label>Saya setuju dengan syarat dan ketentuan</label>
            </span>
            <button class="btn-simulation-loan" (click)="createLoan()" [ngClass]="{disabled:isOn === 0}" id="createLoan">PINJAM SEKARANG!</button>
          </div>
          </div>
          <!-- component password -->
          <verify *ngIf="formVerify == 1" [dataLoan]="loan" (statusForm)="hideVerify($event)"></verify>
        </div> <!-- end component form-loan -->
      </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8">
<div class="box-header" align="center">
  <h2 class="box-title">Detail Pinjaman</h2>
</div>
<div class="box-body">
  <div class="col-md-12">
    <form-detail *ngIf="statusDataDetail == 1" [dataDetailInvest]="detailInvest" [dataAmount]="amount" [dataRestAmount]="restAmount"></form-detail>
  </div>
</div>
</div>
<div align="center" *ngIf="statusDataDetail == 0"> 
  <br>
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>