<div id='TextBoxesGroup'>
  <div id="TextBoxDiv">
      <!-- content angsuran -->
      <label>Angsuran</label>
<!-- 	<input type="text" placeholder="Jumlah Angsuran" class="form-control input-md jumlah-angsuran" name="textbox1" id="textbox1">
	<input type="text" placeholder="Deskripsi Angsuran" class="form-control input-md description-angsuran" name="textbox2" id="textbox2">
  </div>
  {{ node }} -->
</div>
<input type='button' value='Tambah' id='addButton'>
<input type='button' value='Hapus' id='removeButton'>
<br><br><br>

<!-- <div id='TextBoxesGroup'>
  <div id="TextBoxDiv">
 -->      <!-- content angsuran -->
    <!--   <label>Angsuran</label>
	<input type="text" placeholder="Jumlah Angsuran" class="form-control input-md jumlah-angsuran" name="textbox1" id="textbox1">
	<input type="text" placeholder="Deskripsi Angsuran" class="form-control input-md description-angsuran" name="textbox2" id="textbox2">
  </div>
  {{ node }}
</div>
<input type='button' value='Tambah' id='addButton'>
<input type='button' value='Hapus' id='removeButton'>
<br><br><br> -->