<div class="modal fade" id="myModal" style="z-index:9000;">
  <div class="modal-dialog">
    <div class="modal-content bg-navy">
      <div class="modal-body">
      <button type="button" class="close" (click)="cancelComplement()" style="color: #ffffff">&times;</button>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
            <h1 style="color:#ffc300;">Data Bank Anda belum lengkap.</h1>
            <h2 style="color:#ffffff;">silahkan lakukan pengisian Data Bank Anda di pengaturan profil.</h2>
            </div>
            <button type="submit" class="btn btn-default" (click)="submitComplement()" style="color: #ffffff; align-content: center;">Kembali</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>