<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="active">
          <a href="#/dashboard">
            <img src="../../assets/img/icon-home.png">
            <span>Dashboard</span>
          </a>
        </li>
        <li class="">
          <a href="#/dashboard/investasi">
            <img src="../../assets/img/icon-investasi.png">
            <span>Investasi</span>
          </a>
        </li>
        <li>
          <a href="#/dashboard/pinjaman">
            <img src="../../assets/img/icon-pinjaman.png">
            <span>Pinjaman</span>
          </a>
        </li>
        <li class="">
          <a href="#/dashboard/tambah-dana">
            <img src="../../assets/img/icon-tambah-dana.png">
            <span>Tambah Dana</span>
          </a>
        </li>
        <li class="">
          <a href="#/dashboard/penarikan-dana">
            <img src="../../assets/img/icon-penarikan-dana.png">
            <span>Penarikan Dana</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>