

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="active">
      <a href="#/dashboard">
        <img src="../../assets/img/icon-home.png">
        <span>Dashboard</span>
      </a>
    </li>
    <li class="">
      <a href="#/dashboard/action">
        <img src="../../assets/img/icon-pinjaman.png">
        <span>Investasi &amp; Pinjaman</span>
      </a>
    </li>
    <li class="">
      <a href="#/dashboard/user-action">
        <img src="../../assets/img/icon-investasi.png">
        <span>
        Investasi &amp; Pinjaman
        <br>
        Saya
        </span>
      </a>
    </li>
    <!-- <li class="">
      <a href="#/dashboard/investasi">
        <img src="../../assets/img/icon-investasi.png">
        <span>Investasi</span>
      </a>
    </li>
    <li>
      <a href="#/dashboard/pinjaman">
        <img src="../../assets/img/icon-pinjaman.png">
        <span>Pinjaman</span>
      </a>
    </li> -->
   <!--  <li class="">
      <a href="#/dashboard">
        <img src="../../assets/img/icon-tambah-dana.png">
        <span>Tambah Dana</span>
      </a>
    </li>
    <li class="">
      <a href="#/dashboard">
        <img src="../../assets/img/icon-penarikan-dana.png">
        <span>Penarikan Dana</span>
      </a>
    </li>
      <li class="">
          <a href="#/dashboard">
            <img src="../../assets/img/belanja.png">
            <span>Belanja</span>
          </a>
        </li>
         <li class="">
          <a href="#/dashboard">
            <img src="../../assets/img/voucher.png">
            <span>Voucher</span>
          </a>
        </li> -->
<!--          <li class="">
          <a href="#/dashboard/fund">
            <img src="../../assets/img/user.png">
            <span>Dana</span>
          </a>
        </li> -->
<!--         <li class="">
          <a href="#/dashboard">
            <img src="../../assets/img/report.png">
            <span>Laporan</span>
          </a>
        </li>
        <li class="">
          <a href="#/dashboard">
            <img src="../../assets/img/role.png">
            <span>Role</span>
          </a>
        </li>
        <li class="">
          <a href="#/dashboard">
            <img src="../../assets/img/charge-fee.png">
            <span>Charge Fee</span>
          </a>
        </li>
        <li class="">
          <a href="#/dashboard">
            <img src="../../assets/img/succses-fee.png">
            <span>Success Fee</span>
          </a>
        </li>
        <li class="">
          <a href="#/dashboard">
            <img src="../../assets/img/late-fee.png">
            <span>Late Fee</span>
          </a>
        </li> -->
  </ul>
</section>
<!-- /.sidebar -->
</aside>