<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box total-income">
          <div class="inner text-center">
            <p>Total Income</p>
            <h3>Rp. 34.000.000</h3>
          </div>
          <img src="../../assets/img/total-income.png" class="small-box-chart">
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box total-investment">
          <div class="inner text-center">
            <p>Total Investment</p>
            <h3>Rp. 34.000.000</h3>
          </div>
          <img src="../../assets/img/total-investment.png" class="small-box-chart">
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box total-loan">
          <div class="inner text-center">
            <p>Total Loan</p>
            <h3>Rp. 34.000.000</h3>
          </div>
          <img src="../../assets/img/total-loan.png" class="small-box-chart">
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box total-withdraw">
          <div class="inner text-center">
            <p>Total Withdraw</p>
            <h3>Rp. 34.000.000</h3>
          </div>
          <img src="../../assets/img/total-withdraw.png" class="small-box-chart">
        </div>
      </div>
      <!-- ./col -->
    </div>

    <div class="row">
      <!-- Left col -->
      <section class="col-lg-12 connectedSortable">
        <!-- Map box -->
        <div class="box box-solid radius-10">
          <div class="box-header">
            <!-- tools box -->
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-sm btn-collapse-right pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                <i class="fa fa-chevron-down"></i></button>
            </div>
            <!-- /. tools -->

            <i class="fa fa-bar-chart" aria-hidden="true"></i>

            <h3 class="box-title">
              Investment &amp; Loan Statistic
            </h3>
          </div>
          <hr>
          <div class="box-body">
            <div class="clearfix">
              <div class="pull-right">
                <div class="box-datepicker">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <input id="" name="" type="text" placeholder="30 January 2015" class="form-control input-md datepicker" required="">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
                <div class="box-datepicker">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <input id="" name="" type="text" placeholder="30 May 2015" class="form-control input-md datepicker" required="">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div id="sales-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
          </div>
          <!-- /.box-body-->
          
        </div>
        <!-- /.box -->

        <!-- Chat box -->
       
        <!-- /.box (chat box) -->
        
      </section>
      <!-- /.Left col -->
    </div>
    <!-- /.row (main row) -->
    </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->