<div align="center">
  <div class="col-xs-6">
  <label class="unit">Foto NPWP</label>
    <img src="{{ complement_data.foto_npwp }}" alt="Photo NPWP" class="thumbnail" width="250px" height="250px">
    <input type="file" name="foto_npwp" id="foto_npwp">
    
  </div>
  <div class="col-xs-6">
  <label class="unit">Foto Identitas</label>
    <img src="{{ complement_data.foto_identitas }}" alt="Photo Identitas" class="thumbnail" width="250px" height="250px">
    <input type="file" name="foto_identitas" id="foto_identitas">
  </div>
</div> 