<div class="content-wrapper">
  <section class="content">
  <div *ngIf="dataProfile == 0"> 
    <div class="row" align="center">
      <br><br><br><br><br>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="dataProfile == 1">
    <div class="row">
      <div class="col-xs-11">
      <div class="pull-right">
        <button *ngIf="buttonProfile == 0" class="btn-edit-profile" (click)="enableEditProfile()">Edit Profile</button>
        <button *ngIf="buttonProfile == 1" class="btn-back-profile" (click)="cancelEditProfile()">Batal</button>
        <button *ngIf="buttonProfile == 1" class="btn-submit-profile" (click)="submitEditProfile(data)">Simpan</button>
      </div>
      </div>
    </div>
    <fieldset id="profile" disabled>
    <div class="row">
      <div class="col-xs-12">
        <div class="box bg-transparent">
          <div class="form-group clearfix">
            <div class="box-header">
            <!-- <div style="margin: auto;" align="center">
              <h2 class="box-title">Profile</h2>
            </div> -->
            </div>
          </div>
        </div>
        <!-- Photo Pribadi / belum dimasukkan kedalam section component karena global sevice masih gagal -->
        <div class="col-xs-4">
          <div class="box box-solid radius-10">
            <div class="box-header">
              <i class="fa fa-user" aria-hidden="true"></i>
              <h3 class="box-title">Photo Pribadi</h3>
            </div>
            <hr>
            <div class="box-body">
              <div class="form-group">
                <div class="box-img-detail">
                  <img src="{{ profile.profile_image }}" alt="Photo Profile">
                  <br>
                  <input type="file" name="foto_diri" id="foto_diri" *ngIf="buttonProfile == 1">
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
        <!-- Data Pribadi -->
        <personal></personal>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <!-- component data kerabat -->
        <family></family>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-solid radius-10">
          <div class="box-header">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            <h3 class="box-title">Data Pekerjaan</h3>
          </div>
          <hr>
          <div class="box-body">
          <!-- <fieldset id="profile" disabled> -->
            <!-- Data Pekerjaan -->
            <div class="form-group clearfix">
              <div class="col-xs-3">
                <label class="unit">Pekerjaan</label>
              </div>
              <div class="col-xs-7">
              <select class="with-unit form-control input-md data-pekerjaan" name="sumber_pendapatan" id="sumber_pendapatan" (change)="getSumberPendapatan($event.target.value)" [(ngModel)]="data.sumber_pendapatan">
                  <option value="2" disabled>Sumber Pendapatan</option>
                  <option [value]="1">Kerja</option>
                  <option [value]="0">Usaha</option>
              </select>
              </div>
            </div>
            <!-- Data component if work -->
            <work *ngIf="sumberPendapatan == 1 || data.sumber_pendapatan == 1"></work>
            
            <!-- Data component if business -->
            <business *ngIf="sumberPendapatan == 0 || data.sumber_pendapatan == 0"></business>
          <!-- </fieldset> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <div class="box box-solid radius-10">
          <div class="box-header">
            <i class="fa fa-dollar" aria-hidden="true"></i>
            <h3 class="box-title">Data Pendapatan Lain</h3>
          </div>
          <hr>
          <div class="box-body">
          <!-- <fieldset id="profile" disabled> -->
            <div class="form-group clearfix">
            <div class="col-xs-4">
              <label class="unit">Pendapatan Lain</label>
            </div>
            <div class="col-xs-8">
              <select class=" with-unit form-control input-md" name="pendapatan_lain_1" id="pendapatan_lain_1" (change)="getPendapatanLainFirst($event.target.value)" [(ngModel)]="data.pendapatan_lain_1">
                  <option value="2" disabled>Pendapatan Lain</option>
                  <option [value]="1">Ya</option>
                  <option [value]="0">Tidak</option>
              </select>
            </div>
            </div>

            <div *ngIf="pendapatanLainFirst == 1">
              <div class="form-group clearfix">
              <div class="col-xs-4">
                <label class="unit">Sumber Pendapatan Lain</label>
              </div>
              <div class="col-xs-8">
                <input type="text" placeholder="Sumber Pendapatan Lain 1" class="with-unit form-control input-md" value="{{ complement_data.sumber_pendapatan_lain_1 }}" name="sumber_pendapatan_lain_1" id="sumber_pendapatan_lain_1" [(ngModel)]="data.sumber_pendapatan_lain_1">
              </div>
              </div>

              <div class="form-group clearfix">
              <div class="col-xs-4">
                <label class="unit">Jumlah Pendapatan Lain (Rp)</label>
              </div>
              <div class="col-xs-8">
                <input type="text" placeholder="Jumlah Pendapatan Lain 1" class="with-unit form-control input-md" value="{{ complement_data.jumlah_pendapatan_lain_1 }}"  name="jumlah_pendapatan_lain_1" id="jumlah_pendapatan_lain_1" [(ngModel)]="data.jumlah_pendapatan_lain_1">
              </div>
              </div> <!-- end -->

              <!-- Pendapatan lain 2 -->
              <br><br>
              <div class="form-group clearfix">
              <div class="col-xs-4">
                <label class="unit">Pendapatan Lainnya</label>
              </div>
              <div class="col-xs-8">
                <select class=" with-unit form-control input-md" name="pendapatan_lain_2" id="pendapatan_lain_2" (change)="getPendapatanLainSecond($event.target.value)" [(ngModel)]="data.pendapatan_lain_2">
                  <option value="2" disabled>Pendapatan Lainnya</option>
                  <option [value]="1">Ya</option>
                  <option [value]="0">Tidak</option>
                </select>
              </div>
              </div>
              <div *ngIf="pendapatanLainSecond == 1">
                <!-- <div *ngIf="complement_data.pendapatan_lain_2 == 1"> -->
                <div class="form-group clearfix">
                <div class="col-xs-4">
                  <label class="unit">Sumber Pendapatan Lainnya</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" placeholder="Sumber Pendapatan Lain 2" class="with-unit form-control input-md" value="{{ complement_data.sumber_pendapatan_lain_2 }}" name="sumber_pendapatan_lain_2" id="sumber_pendapatan_lain_2" [(ngModel)]="data.sumber_pendapatan_lain_2">
                </div>
                </div>
                <div class="form-group clearfix">
                <div class="col-xs-4">
                  <label class="unit">Jumlah Pendapatan Lainnya (Rp)</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" placeholder="Jumlah Pendapatan Lain 2" class="with-unit form-control input-md" value="{{ complement_data.jumlah_pendapatan_lain_2 }}" name="jumlah_pendapatan_lain_2" id="jumlah_pendapatan_lain_2" [(ngModel)]="data.jumlah_pendapatan_lain_2">
                </div>
                </div>
              </div>
            </div>  <!-- end pendapatan lain 1 -->
          <!-- </fieldset> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <div class="box box-solid radius-10">
          <div class="box-header">
            <i class="fa fa-image" aria-hidden="true"></i>
            <h3 class="box-title">Data Penunjang</h3>
          </div>
          <hr>
          <div class="box-body">
            <!-- component data penunjang -->
            <div align="center">
            <div class="col-xs-6">
            <label class="unit">Foto NPWP</label>
              <img src="{{ complement_data.foto_npwp }}" alt="Photo NPWP" class="thumbnail" width="250px" height="250px">
              <input type="file" name="foto_npwp" id="foto_npwp" *ngIf="buttonProfile == 1">
              
            </div>
            <div class="col-xs-6">
            <label class="unit">Foto Identitas</label>
              <img src="{{ complement_data.foto_identitas }}" alt="Photo Identitas" class="thumbnail" width="250px" height="250px">
              <input type="file" name="foto_identitas" id="foto_identitas" *ngIf="buttonProfile == 1">
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-5">
      <div class="box box-solid radius-10">
        <div class="box-header">
          <i class="fa fa-bank" aria-hidden="true"></i>
          <h3 class="box-title">Data Bank</h3>
        </div>
        <hr>
        <div class="box-body">
        <!-- <fieldset id="profile" disabled> -->
        <div class="col-xs-12">
          <div class="form-group">
            <label class="unit">Foto Tabungan</label>
            <img src="{{ complement_data.foto_tabungan }}" alt="Photo Tabungan" class="thumbnail" width="250px" height="250px">
            <input type="file" name="foto_tabungan" id="foto_tabungan" *ngIf="buttonProfile == 1">
          </div>
        </div>
        <div class="form-group">
        <div class="col-xs-4">
          <label class="unit">Bank</label>
        </div>
        <div class="col-xs-12">
          <select class="form-control input-md" name="bank" id="bank" (change)="getBankName($event.target.value)" [(ngModel)]="data.bank">
            <option value="0">Bank</option>
            <option *ngFor="let bank of banks" [value]="bank.id_tipe_bank">
              {{ bank.desc_tipe_bank }}
            </option>
          </select>
        </div>
        </div>
        <div class="form-group">
        <div class="col-xs-4">
          <label class="unit">No Rekening</label>
        </div>
        <div class="col-xs-12">
          <input type="text" placeholder="No Rekening" class="with-unit form-control input-md data-bank" value="{{ complement_data.no_rekening }}" [(ngModel)]="data.no_rekening">
        </div>
        </div>
        <!-- </fieldset> -->
        </div>
      </div>
      </div>
    </div>
    </fieldset>
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-solid radius-10">
          <div class="box-header">
            <i class="fa fa-file" aria-hidden="true"></i>
            <h3 class="box-title">Data Jaminan</h3>
          </div>
          <hr>
          <div class="box-body">
            <collateral></collateral>
          </div> 
        </div>
      </div>
      <div class="col-xs-5">
        <div class="box box-solid radius-10">
          <div class="box-header">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <h3 class="box-title">Data Angsuran</h3>
          </div>
          <hr>
          <div class="box-body">
            <installment></installment>
          </div> 
        </div>
      </div>
    </div>
  </div>
  </section>
</div>