    .login-page {
        position: static;
        background: #fff !Important;
    }
    .login-page .nav-top {
        background: #092d59;
    }
    .login-page .nav li a {
        color: #4a4a4a;
    }
    .login-page .navbar-right li > a {
        border: 1px solid #092d59;
        color: #092d59;
    }
    .login-page .navbar-head {
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 10px;
    }
    .form-login-register {
        width: 840px;
        margin: 65px auto;
    }
    .form-login-register > h2 {
        color: #fec300;
        text-align: center;
        margin-top: 0;
        font-weight: 600;
    }
    .form-login-register > p {
        color: #4a4a4a;
        text-align: center;
        font-size: 14px;
        margin-bottom: 65px;
    }
    .form-login-register .form-control {
        border: 1px solid #dddddd;
        border-radius: 0;
        box-shadow: none;
        height: 45px;
    }
    .form-login-register form .btn {
        background: #092d59;
        border-radius: 0;
        height: 45px;
        line-height: 45px;
        padding: 0 13px;
        color: #fec300;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    .form-login-register form input[type="radio"],
    .form-login-register form input[type="checkbox"] {
        margin-top: 2px;
    }
    .form-login-register form .form-group.white-borderbottom {
        margin-bottom: 25px;
    }
    .no-margin-left {
        margin-left: 0 !important;
    }
    .no-margin-right {
        margin-right: 0 !important;
    }
    .form-login-register .daftar-via {}
    .form-login-register .daftar-via a,
    .form-login-register .daftar-via span {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .form-login-register .daftar-via span {
        color: #635e4e;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
    }
    .form-login-register .daftar-via .btn-akun {
        background: #fec300;
        color: #635e4e;
    }
    .form-login-register .daftar-via .btn-fb {
        background: #3b5998;
        color: #ffffff;
    }
    .form-login-register .daftar-via .btn-twitter {
        background: #55acee;
        color: #ffffff;
    }
    .form-login-register form > .col-md-6:nth-child(1) {
        border-right: 1px solid #ededed;
    }
    .login-page .navbar-head.fixed a {
        color: #ffffff;
    }
    .login-page .navbar-head.fixed .navbar-right li > a {
        border: 1px solid #ffffff;
    }