<div class="row">
  <div class="col-xs-12">
  
  <div class="box-body">
  <div class="row">
    <div class="col-xs-12">
    <form class="form-center" (ngSubmit)="calculationInvest()" name="investForm" id="investForm">
      <div class="row">
      <div class="col-xs-6">
      <div class="box-header">
        <h2 class="box-title">Tambah Investasi</h2>
      </div>
      </div>
        <div class="col-xs-5">
        <button class="btn-calculation-invest pull-right col-center" type="submit">KALKULASI</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-12">
            <span class="required">*</span>
            <input type="text" name="invest_name" placeholder="Nama Investasi" class="form-control input-md" id="invest_name" [(ngModel)]="invest.invest_name">
          </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
              <span class="required">*</span>
              <select class="form-control input-md" name="invest_type" id="invest_type" (change)="getTipeInvestasi($event.target.value)" [(ngModel)]="invest.invest_type">
                <option value="0" disabled>Tipe Investasi</option>
                <option [value]="1">Jaminan</option>
                <option [value]="2">Tanpa Jaminan</option>
              </select>
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <label class="input-group-btn">Foto Investasi</label>
                <input type="file" id="images">
              </div>
            </div>
        </div>
        <div class="form-group">
           <div class="col-md-12">
             <span class="required">*</span>
             <textarea placeholder="Deskripsi" class="form-control input-md"   name="description" id="description" [(ngModel)]="invest.description">
             </textarea>
           </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
          <div class="row">
            <div class="col-md-10">
            <span class="required">*</span>
            <input type="text" placeholder="Nominal Investasi" class="form-control input-md" name="amount" id="amount" [(ngModel)]="invest.amount">
          </div>
          <div class="2">
            <label class="unit">Rupiah</label>
          </div>
          </div>
        </div>
       
        <!-- component due-date -->
        <due-date></due-date>
       
        <div class="form-group">
          <div class="row">
            <div class="col-md-10">
            <!-- <span class="required">*</span> -->
            <input type="text" placeholder="Bunga" class="form-control input-md" name="interest" id="interest" [(ngModel)]="invest.interest">
          </div>
          <div class="2">
            <label class="unit">%/bln</label>
          </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-10">
            <span class="required">*</span>
            <input type="text" placeholder="Tenor" class="form-control input-md" name="tenor" id="tenor" [(ngModel)]="invest.tenor">
          </div>
          <div class="2">
            <label class="unit">Bulan</label>
          </div>
          </div>
        </div>
        </div>
      </div>
    </form>
    </div>
  </div>
  </div>
  </div>
</div>
<div class="row">
  <hr>
  <div class="col-xs-12">
    <br>
    <div class="box-header" align="center">
      <h2 class="box-title">Kalkulasi Investasi</h2>
    </div>
    <div class="box-body">
      <div class="row">
      <div class="col-xs-12">     
      <form name="investForm" id="investForm">
        <fieldset disabled>
          <div class="col-md-6">
          <div class="form-group">
            <div class="col-xs-5">
              <label class="unit">Nominal</label>
            </div>
            <div class="col-xs-7">
              <input type="text" name="nominal" id="nominal" placeholder="-" class="form-control input-md" id="nominal" [(ngModel)]="simulation.nominal">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-5">
              <label class="unit">Success Fee</label>
            </div>
            <div class="col-md-7">
              <input type="text" placeholder="-" class="form-control input-md" name="success_fee" id="success_fee" [(ngModel)]="simulation.success_fee">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-5">
              <label class="unit">Nominal dan Fee</label>
            </div>
            <div class="col-md-7">
              <input type="text" placeholder="-" class="form-control input-md" name="nominal_and_fee" id="nominal_and_fee" [(ngModel)]="simulation.nominal_and_fee">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-5">
              <label class="unit">Pokok</label>
            </div>
            <div class="col-md-7">
              <input type="text" name="pokok" id="pokok" placeholder="-" class="form-control input-md" id="pokok" [(ngModel)]="simulation.pokok"> 
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-5">
              <label class="unit">Bunga</label>
            </div>
            <div class="col-md-7">
              <input type="text" placeholder="-" class="form-control input-md" name="bunga" id="bunga" [(ngModel)]="simulation.bunga">
            </div>
          </div>
          </div>
          <div class="col-md-6">
          <div class="form-group">
            <div class="col-xs-5">
              <label class="unit">Tenor</label>
            </div>
            <div class="col-md-7">
              <input type="text" placeholder="-" class="form-control" name="tenor" id="tenor" [(ngModel)]="simulation.tenor">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-5">
              <label class="unit">Denda</label>
            </div>
            <div class="col-md-7">
              <input type="text" placeholder="-" class="form-control input-md" name="denda" id="denda" [(ngModel)]="simulation.denda">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-5">
              <label class="unit">Cicilan/bulan</label>
            </div>
            <div class="col-md-7">
              <input type="text" placeholder="-" class="form-control" name="cicilan_per_bulan" id="cicilan_per_bulan" [(ngModel)]="simulation.cicilan_perbulan">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-5">
              <label class="unit">Transaction Fee</label>
            </div>
            <div class="col-md-7">
              <input type="text" placeholder="-" class="form-control input-md" name="transaction_fee" id="transaction_fee" [(ngModel)]="simulation.transaction_fee">
            </div>
          </div>
          </div>
        </fieldset>
      </form>
        <div *ngIf="dataInvest == 1">
        <div class="col-md-12">
          <div class="form-group">
          <div class="col-md-6 col-center">
          <div align="center">
            <span class="input-group-addon">
              <input type="checkbox" [checked]="isOn === dataIsOn[0].value" (change)="$event.target.checked? (isOn = dataIsOn[0].value) : (isOn = dataIsOn[1].value)">
              <label>Saya setuju dengan syarat dan ketentuan</label>
            </span>
            <button class="btn btn-submit-invest" (click)="createInvest()" [ngClass]="{disabled:isOn === 0}" id="createLoan">Simpan</button>
          </div>
          </div>
          </div>
        </div>
        </div>
        <!-- component password -->
        <verify *ngIf="formVerify == 1" (statusForm)="hideVerify($event)" [dataInvest]="invest"></verify>
      </div>
      </div>
    </div>
  </div>
  <div align="center" *ngIf="dataInvest == 0"> 
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>