<div class="form-account form-login-register" id="step-2">
<br><br>
   <h2>Registrasi</h2>
   <p>Silakan isi data berikut untuk mendaftarkan diri anda</p>
   <div class="row">
      <ul class="breadcrumb">
         <li class="completed"><a href="javascript:void(0);"><span><i class="fa fa-check" aria-hidden="true"></i></span> Data Diri </a></li>
         <li class="active"><a href="javascript:void(0);"><span>2</span> Data Keluarga </a></li>
         <li><a href="javascript:void(0);"><span>3</span> Data Pekerjaan </a></li>
         <li><a href="javascript:void(0);"><span>4</span>  Data Penunjang</a></li>
      </ul>
   </div>
   <form class="form-horizontal clearfix row" id="step2Form" name="step2Form" novalidate [formGroup]="step2Form">
      <h3>Data Keluarga</h3>
      <div class="col-md-6">
         <div class="form-group">
            <div class="col-md-12">
              <div [ngClass]="{'has-error':!step2Form.controls['nama_lengkap_keluarga'].valid && step2Form.controls['nama_lengkap_keluarga'].touched}">
                 <input  type="text" placeholder="Nama Lengkap Keluarga" class="form-control input-md" [formControl]="step2Form.controls['nama_lengkap_keluarga']" >

                 <!-- Message Error -->
                 <p *ngIf="step2Form.controls['nama_lengkap_keluarga'].hasError('required') && step2Form.controls['nama_lengkap_keluarga'].touched">
                   <font color="red">Nama dibutuhkan</font>
                 </p>
             </div>
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
               <div [ngClass]="{'has-error':!step2Form.controls['hubungan_keluarga'].valid && step2Form.controls['hubungan_keluarga'].touched}">
                 <input  type="text" placeholder="Hubungan Keluarga" class="form-control input-md" [formControl]="step2Form.controls['hubungan_keluarga']" >

                 <!-- Message Error -->
                 <p *ngIf="step2Form.controls['hubungan_keluarga'].hasError('required') && step2Form.controls['hubungan_keluarga'].touched">
                   <font color="red">Nama dibutuhkan</font>
                 </p>
             </div>
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
             <div [ngClass]="{'has-error':!step2Form.controls['alamat_keluarga'].valid && step2Form.controls['alamat_keluarga'].touched}">
                 <textarea type="text" placeholder="Alamat" class="form-control input-md" [formControl]="step2Form.controls['alamat_keluarga']">
                 </textarea>
                 <!-- Message Error -->
                 <p *ngIf="step2Form.controls['alamat_keluarga'].hasError('required') && step2Form.controls['alamat_keluarga'].touched">
                   <font color="red">Alamat dibutuhkan</font>
                 </p>
             </div>
            </div>
         </div>

      </div>

      <div class="col-md-6">
      <fieldset>
         <div class="form-group">
            <div class="col-md-12">
              <div [ngClass]="{'has-error':!step2Form.controls['nomor_telepon_keluarga'].valid && step2Form.controls['nomor_telepon_keluarga'].touched}">
                 <input type="text" placeholder="Nomor Telepon" class="form-control input-md" [formControl]="step2Form.controls['nomor_telepon_keluarga']">
                 <!-- Message Error -->
                 <p *ngIf="step2Form.controls['nomor_telepon_keluarga'].hasError('required') && step2Form.controls['nomor_telepon_keluarga'].touched">
                   <font color="red">Nomor telepon dibutuhkan</font>
                 </p>
             </div>
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
             <div [ngClass]="{'has-error':!step2Form.controls['jumlah_anak'].valid && step2Form.controls['jumlah_anak'].touched}">
                 <input type="text" placeholder="Jumlah Anak" class="form-control input-md" [formControl]="step2Form.controls['jumlah_anak']">
                 <!-- Message Error -->
                 <p *ngIf="step2Form.controls['jumlah_anak'].hasError('required') && step2Form.controls['jumlah_anak'].touched">
                   <font color="red">Nomor telepon dibutuhkan</font>
                 </p>
             </div>
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
                 <div [ngClass]="{'has-error':!step2Form.controls['jumlah_tanggungan'].valid && step2Form.controls['jumlah_tanggungan'].touched}">
                 <input type="text" placeholder="jumlah Tanggungan" class="form-control input-md" [formControl]="step2Form.controls['jumlah_tanggungan']">
                 <!-- Message Error -->
                 <p *ngIf="step2Form.controls['jumlah_tanggungan'].hasError('required') && step2Form.controls['jumlah_tanggungan'].touched">
                   <font color="red">Nomor telepon dibutuhkan</font>
                 </p>
             </div>
            </div>
         </div>
       </fieldset>
      </div>
      <div class="col-md-12">
         <!-- Button -->
         <div class="form-group">
            <div class="col-md-6 col-center">
               <button  class="btn btn-default" (click)="prevStepOne(step2Form.value)">Kembali</button>
               <button  class="btn btn-red" (click)="nextStepThree(step2Form.value)"  [disabled]="!step2Form.valid">Lanjutkan</button>
            </div>
         </div>
      </div>
   </form>
</div>