<div class="form-group">
  <div class="col-md-12">
  <span class="required">*</span>
    <input type="text" placeholder="Sumber Pendapatan" class="form-control input-md" name="sumber_pendapatan_lain_2" id="sumber_pendapatan_lain_2" [(ngModel)]="data.sumber_pendapatan_lain_2">
  </div>
</div>
<div class="form-group">
  <div class="col-md-12">
  <span class="required">*</span>
    <input type="text" placeholder="Jumlah Pendapatan" class="form-control input-md" name="jumlah_pendapatan_lain_2" id="jumlah_pendapatan_lain_2" [(ngModel)]="data.jumlah_pendapatan_lain_2">
  </div>
</div>