<div class="row">
<div class="container">
  <div class="form-account form-login-register" id="step-1">
  <h2>Ganti Password</h2>
  <p>Masukan password baru anda</p>
  <div class="row">
  <div class="col-xs-12">
  <form class="form-horizontal clearfix row" name="ResetForm" id="ResetForm">
  <div class="col-xs-12">
    <div class="form-group">
      <div class="col-xs-12">
      <span class="required">*</span>
        <input  type="password" placeholder="New Password" class="form-control input-md" [(ngModel)]="user.new_password" id="new_password" name="new_password" required minlength="6">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
      <span class="required">*</span>
        <input  type="password" placeholder="Confirm Password" class="form-control input-md" [(ngModel)]="user.confirm_new_password" name="confirm_new_password" required minlength="6">
      </div>
    </div>
  </div>
  </form>
  </div>
  </div>
  <div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <div class="col-md-6 col-center">
        <a [href]="cancelUrl" name="singlebutton" class="btn btn-default" id="load-reject">Batal</a>
        <button type="submit" (click)="submitResetPassword()" name="singlebutton" class="btn btn-red">Ganti</button>
      </div>
    </div>
  </div>
  </div>
  <!-- <div class="modal fade" id="myModal" style="z-index:9000;">
    <div class="modal-dialog">
    <div class="modal-content bg-navy">
      <div class="modal-body">
      <button type="button" class="close" (click)="hideNotif()" style="color: #ffffff">&times;</button>
      <div class="row">
      <div class="col-md-12">
        <div class="form-group">
        <h1 style="color:#ffc300;">Hai, {{ register.nama_lengkap }}</h1>
        <h2 style="color:#ffffff;">Proses registrasi berhasil, langkah selanjutnya silahkan ada melakukan Login.</h2>
        </div>
      </div>
      </div>
      </div>
    </div>
    </div>
  </div> -->
  </div>
</div>
</div>