<div class="row">
<div class="container">
  <div class="form-account form-login-register" id="step-1">
    <br>
    <br>
    <h2>Ganti Password</h2>
    <p>Masukan password baru anda</p>
    <div class="col-xs-12">
    <form class="form-horizontal clearfix row" name="ResetForm" id="ResetForm">
      <div class="col-xs-3">
      </div>
      <div class="col-xs-6">
      <div class="form-group">
        <div class="col-xs-12">
        <label><span class="required">*</span></label>
          <input type="password" placeholder="New Password" class="form-control input-md" [(ngModel)]="user.new_password" id="new_password" name="new_password" required minlength="6" maxlength=""><br>
          <font color="red">Password tidak match</font>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
        <label><span class="required">*</span></label>
          <input type="password" placeholder="Confirm Password" class="form-control input-md" [(ngModel)]="user.confirm_new_password" name="confirm_new_password" required minlength="6">
        </div>
      </div>
      </div>
      <div class="col-xs-3">
      </div>
    </form>
    </div>
    <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <div class="col-md-6 col-center">
          <a [href]="cancelUrl" name="singlebutton" class="btn btn-default" id="load-reject">Batal</a>
          <button type="submit" (click)="submitResetPassword()" name="singlebutton" class="btn btn-red">Ganti</button>
        </div>
      </div>
    </div>
    </div>
    <br><br><br><br><br><br><br><br>
  </div>
</div>
</div>