<div class="form-group clearfix">
  <div class="box-header">
    <h2 class="box-title pull-left">Data Pekerjaan</h2>
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Nama Perusahaan</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="Nama Perusahaan" class="with-unit form-control input-md" value="{{ complement_data.nama_perusahaan }}" [(ngModel)]="data.nama_perusahaan" name="nama_perusahaan" id="nama_perusahaan">
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Mulai Bekerja</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="Mulai Bekerja" class="with-unit form-control input-md datepicker" value="{{ complement_data.mulai_bekerja }}" [(ngModel)]="data.mulai_bekerja" name="mulai_bekerja" id="mulai_bekerja">
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Jabatan</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="Jabatan" class="with-unit form-control input-md" value="{{ complement_data.jabatan }}" [(ngModel)]="data.jabatan" name="jabatan" id="jabatan">
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Pekerjaan</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="pekerjaan" class="with-unit form-control input-md" value="{{ complement_data.pekerjaan }}" [(ngModel)]="data.pekerjaan" name="pekerjaan" id="pekerjaan">
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Gaji per bulan</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="Gaji per bulan" class="with-unit form-control input-md" value="{{ complement_data.gaji_per_bulan }}" [(ngModel)]="data.gaji_per_bulan" name="gaji_per_bulan" id="gaji_per_bulan">
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Pengeluaran per bulan</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="Pengeluaran per bulan" class="with-unit form-control input-md" value="{{ complement_data.pengeluaran_per_bulan }}" [(ngModel)]="data.pengeluaran_per_bulan" name="pengeluaran_per_bulan" id="pengeluaran_per_bulan">
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">No Telp Perusahaan</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="No Telp Perusahaan" class="with-unit form-control input-md" value="{{ complement_data.tlp_perusahaan }}" [(ngModel)]="data.tlp_perusahaan" name="tlp_perusahaan" id="tlp_perusahaan">
  </div>
</div>