<div class="profil">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="profile">
          <div class="pull-left profile-left">
            <img src="{{ incomingDataProfileImage }}" style="width:100px;height:100px">
          </div>
        <label class="name"><font size="3">
        {{ incomingDataName }}<br>
        {{ incomingDataUserStatus }}<br>
          <i class="fa fa-star full" aria-hidden="true"></i>
          <i class="fa fa-star full" aria-hidden="true"></i>
          <i class="fa fa-star full" aria-hidden="true"></i>
          <i class="fa fa-star full" aria-hidden="true"></i>
          <i class="fa fa-star null" aria-hidden="true"></i>            
        </font></label> <br>
        <img *ngIf="incomingDataUserStatus == 'Verified'" class="verifikasi-check" src="../../assets/img/green-checklist.png"><br>
        </div>
      </div>
      <div class="col-md-1" style="width: 10%">
        <div class="profile">
          <img class="icon" src="../../assets/img/icon/investment.png"> <br>
          <label class="profile-2">Investor</label> <br>
          <label class="profile-1">{{ incomingDataUserBorrower }}</label>
        </div>
      </div>
      <div class="col-md-1" style="width: 10%">
        <div class="profile">
          <img class="icon" src="../../assets/img/icon/loan.png" style="margin-left: solid 2px #fff;"> <br>
          <label class="profile-2">Borrower</label> <br>
          <label class="profile-1">{{ incomingDataUserBorrower }}</label>
        </div>
      </div>
      <div class="col-md-1" style="width: 10%">
        <div class="profile">
          <img class="icon" src="../../assets/img/icon/credit-card.png" style="margin-left: solid 2px #fff;"> <br>
          <label class="profile-2">Credit</label> <br>
          <label class="profile-1">{{ incomingDataFundHistory }}</label>
        </div>
      </div>
      <div class="col-md-1" style="width: 10%">
        <div class="profile">
          <img class="icon" src="../../assets/img/icon/business.png" style="margin-left: solid 2px #fff;"> <br>
          <label class="profile-2">Salary</label> <br>
          <label class="profile-1">{{ incomingDataUserClass }}</label>
        </div>
      </div>
      <div class="col-md-1" align="center">
        <div class="profile" style="width: 200px">
            <img src="../../assets/img/dollar-bag.png" style="margin-left: solid 2px;width: 50px; height: 50px;"><br>
            <label class="profile-1"><h4>{{ incomingDataAccountSummary }}</h4></label>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
  <div class="row">
    <div class="link-bottom-nav clearfix">
    <ul>
      <li><a class="direct-link" href="#/dashboard/fund/fund-add/create">Tambah Dana</a></li>
      <li>
        <button class="dropdown-toggle" type="button" (click)="listFund()"><img src="../../assets/img/icon-load.png"></button>
      </li>
      <li><a class="direct-link" href="#/dashboard/fund/fund-withdrawal/create">Tarik Dana</a></li>
    </ul>
    </div>
  </div>
  </div>
</div>