<nav class="navbar " style="background: #fff;height: 90px; margin-bottom: 0px;">
  <!-- Sidebar toggle button-->
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav navigasi-menu">
      <li>
        <a href="#">
          <img class="menu-horizontal" src="../../assets/img/icon/home.png">
        <h6>Home</h6>
        </a>
      </li>
      <li class="">
        <a href="#/dashboard/other-user-action">
          <img class="menu-horizontal" src="../../assets/img/icon/2.png">
        <h6>Pinjaman & Investasi</h6>
        </a>
      </li>
      <li class="">
        <a href="#/dashboard/user-action">
          <img class="menu-horizontal" src="../../assets/img/icon/funds.png">
        <h6 style="padding-top: 4px;">Pinjaman & Investasi <br> Saya</h6>
        </a>
      </li>
      <!-- <li class=""> 
        <a href="#">
          <img class="menu-horizontal" src="../../assets/img/icon/voucher-(1).png">
        <h6 style="padding-top: 12px;">Voucher</h6>
        </a>
      </li> -->
      <li class="">
        <a href="#">
          <img class="menu-horizontal" src="../../assets/img/icon/shopping-cart-(1).png">
        <h6>Belanja</h6>
        </a>
      </li>
    </ul>
  </div>
</nav>