<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

 <!-- Main content -->
 <section class="content">
   <div class="row">
     <div class="col-md-12">
       <div class="box bg-transparent">
         <div class="box-header">
           <h2 class="box-title pull-left">Tambah Investasi</h2>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
           <div class="form-login-register">
             <form class="form-horizontal clearfix row">
                <div class="col-md-6">
                   <div class="form-group">
                     <div class="col-md-12">
                         <span class="required">*</span>
                         <input type="text" placeholder="Nama Investasi" class="form-control input-md" required="">
                     </div>
                   </div>
                   <div class="form-group">
                       <div class="col-md-12">
                         <span class="required">*</span>
                         <select class="form-control input-md" required="">
                            <option>Tipe Investasi</option>
                            <option>Jaminan</option>
                            <option>Tanpa Jaminan</option>
                         </select>
                       </div>
                   </div>

                   <div class="form-group">
                     <div class="col-md-12">
                       <div class="input-group">
                         <input type="text" class="form-control" readonly>
                         <label class="input-group-btn">
                           <span class="btn btn-primary">
                             Browse&hellip; <input type="file" style="display: none;" multiple>
                           </span>
                         </label>
                       </div>
                     </div>
                   </div>
                   <div class="form-group">
                       <div class="col-md-12">
                         <span class="required">*</span>
                         <input type="text" placeholder="Bentuk Jaminan" class="form-control input-md" required="">
                       </div>
                   </div>
                   <div class="form-group">
                       <div class="col-md-12">
                         <span class="required">*</span>
                         <textarea placeholder="Deskripsi" class="form-control input-md" required=""></textarea>
                       </div>
                   </div>
                 </div>
                 <div class="col-md-6">
                   <fieldset>
                     <div class="form-group">
                       <div class="col-md-12 clearfix">
                         <span class="required">*</span>
                         <input type="text" placeholder="Nominal Investasi" class="with-unit form-control input-md" required="">
                         <label class="unit">Rupiah</label>
                       </div>
                     </div>
                     <div class="form-group">
                       <div class="col-md-12 clearfix">
                         <input type="text" placeholder="Bunga" class="with-unit form-control input-md" required="">
                         <label class="unit">%/bulan</label>
                       </div>
                     </div>
                     <div class="form-group">
                       <div class="col-md-12 clearfix">
                         <span class="required">*</span>
                         <input type="text" placeholder="Tenor" class="with-unit form-control input-md" required="">
                         <label class="unit">Bulan</label>
                       </div>
                     </div>
                     <div class="form-group">
                       <div class="col-md-12">
                         <input type="text" placeholder="Charge Free" class="form-control input-md" required="">
                       </div>
                     </div>
                   </fieldset>
                 </div>
                 <div class="col-md-12">
                   <!-- Button -->
                   <div class="form-group">
                      <div class="col-md-6 col-center">
                         <button class="btn btn-default">Batal</button>
                         <button class="btn btn-red ">Simpan</button>
                      </div>
                   </div>
               </div>
             </form>
           </div>
         </div>
         <!-- /.box-body -->
       </div>
       <!-- /.box -->
     </div>
   </div>

 </section>
 <!-- /.content -->
</div>
<!-- /.content-wrapper -->