<div class="form-account form-login-register" id="register">
  <br>
  <br>
  <h2>Registrasi</h2>
  <p>Silahkan masukkan nomor verifikasi yang anda terima melalui SMS</p>
  <br>
  <form class="form-horizontal clearfix row" id="verifyCodeForm">
     <div class="col-xs-12">
        <div class="row">
          <div align="center">
              <div class="form-group" style="width:60%">
                <div class="col-xs-6">
               <input type="text" class="form-control" placeholder="Verification Code" maxlength="5" id="verification_code" [(ngModel)]="code.verification_code" name="verification_code">
                </div>
                <div class="col-xs-2">
                  <button  class="btn btn-red" (click)="sendVerify(code)">
                    Verifikasi
                  </button>
                </div>
                <div class="col-xs-1">
                </div>
                <div class="col-xs-2">
                  <button type="button" class="btn btn-batal" data-dismiss="modal" (click)="resendHandphone()">
                    Resend
                  </button>
                </div>
              </div>
          </div>
        </div>
     </div>
  </form>
</div>
