<div class="modal fade" id="ModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 9000">
  <div class="modal-dialog  modal-style">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="hideModal(0)">&times;</button>
      <h4 class="modal-title">Verifikasi Kode</h4>
    </div>
    <div class="modal-body">
    <div class="row">
    <form id="FormVerify">
      <div class="col-md-6">
        <input id="verify" name="verify" type="text" placeholder="Kode Verifikasi" class="form-control input-md form-color Verifikasi" required="" [(ngModel)]="code.verification_code" maxlength="6">
      </div>
    </form>
      <div class="col-md-6">
        <button type="submit" id="verifikasi" name="verifikasi" class="btn btn-red btn-verifikasi" (click)="sendVerify()">Verifikasi</button>
        <button (click)="resendHandphone()" name="singlebutton" class="btn btn-batal" id="resend">Resend</button>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>