<section class="content">
 <div class="row">
   <div class="col-md-12">
    <div class="box bg-transparent">
       <div class="box-header">
         <h2 class="box-title pull-left">Tambah Investasi</h2>
       </div>
       <div class="box-body">
         <div class="form-login-register">
           <form class="form-horizontal clearfix row" name="investForm" id="investForm">
              <div *ngIf="dataInvest == 0">
              <div class="col-md-6">
                 <div class="form-group">
                   <div class="col-md-12">
                       <span class="required">*</span>
                       <input type="text" name="invest_name" placeholder="Nama Investasi" class="form-control input-md" id="invest_name" [(ngModel)]="invest.invest_name">
                   </div>
                 </div>
                 <div class="form-group">
                     <div class="col-md-12">
                       <span class="required">*</span>
                       <select class="form-control input-md" name="type" id="type" (change)="getTipeInvestasi($event.target.value)" [(ngModel)]="invest.invest_type">
                          <option value="0" disabled>Tipe Investasi</option>
                          <option [value]="1">Jaminan</option>
                          <option [value]="2">Tanpa Jaminan</option>
                       </select>
                     </div>
                 </div>
                 <div class="form-group">
                   <div class="col-md-12">
                     <div class="input-group">
                       <label class="input-group-btn">Foto Investasi</label>
                         <input type="file" id="images">
                     </div>
                   </div>
                </div>
                  <div class="form-group">
                     <div class="col-md-12">
                       <span class="required">*</span>
                       <textarea placeholder="Deskripsi" class="form-control input-md"   name="description" id="description" [(ngModel)]="invest.description">
                       </textarea>
                     </div>
                 </div>
              </div>
               <div class="col-md-6">
                 <div class="form-group">
                   <div class="col-md-10">
                     <span class="required">*</span>
                     <input type="text" placeholder="Nominal Investasi" class="form-control input-md" name="amount" id="amount" [(ngModel)]="invest.amount">
                   </div>
                     <label class="unit">Rupiah</label>
                 </div>
                  <!-- component due-date -->
                  <due-date></due-date>
                  
                 <div class="form-group">
                   <div class="col-md-10 clearfix">
                     <input type="text" placeholder="Bunga" class="form-control input-md"  name="interest" id="interest" [(ngModel)]="invest.interest">
                   </div>
                     <label class="unit">%/bulan</label>
                 </div>
                 <div class="form-group">
                   <div class="col-md-10 clearfix">
                     <span class="required">*</span>
                     <input type="text" placeholder="Tenor" class="form-control input-md" maxlength="2" minlength="1"  name="tenor" id="tenor" [(ngModel)]="invest.tenor">
                    </div>
                    <label class="unit">Bulan</label>
                 </div>
<!--                  <div class="form-group">
                   <div class="col-md-12">
                     <input type="text" placeholder="Charge Free" class="form-control input-md" readonly>
                   </div>
                 </div> -->
               </div>
               </div>
           </form>
              <div *ngIf="dataInvest == 0">
                 <div class="col-md-12">
                   <div class="form-group">
                      <div class="col-md-6 col-center">
                        <!-- <a href="#/dashboard/investasi" class="btn btn-default">Batal</a> -->
                        <button class="btn btn-default" (click)="cancelInvest()">Batal</button>
                        <button class="btn btn-red" (click)="createInvest(invest)">Simpan</button>
                      </div>
                   </div>
                </div>
              </div>
                <!-- component password -->
                <verify *ngIf="dataInvest == 1"></verify>
<!--                  <h2>Modal Example</h2>

                  Trigger/Open The Modal
                  <button id="myBtn">Open Modal</button>
                  The Modal
                  <div id="myModal" class="modal">
                    Modal content
                    <div class="modal-content">
                      <span class="close" id="close">&times;</span>
                      <p>Some text in the Modal..</p>
                    </div>
                  </div> -->
                  
         </div>
       </div>
      <div align="center" *ngIf="dataDetailInvest == 1"> 
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
   </div>
 </div>
</section>