<div class="box bg-transparent">
  <div class="box-header" align="center">
     <h2 class="box-title">Tarik Dana</h2>
  </div>
  <div class="box-body">
  <div class="form-login-register">
      <form class="form-horizontal clearfix row" name="createForm" id="createForm">
        <div class="col-md-12">
          <fieldset disabled>
            <div class="form-group">
              <div class="col-md-10 clearfix">
                <label>Nominal Referensi :</label>
                <input type="text" placeholder="Nominal Referensi" class="form-control input-md" name="no_reference" id="no_reference" [(ngModel)]="data.no_reference">
              </div>
             </div>
            <div class="form-group">
              <div class="col-md-10 clearfix">
                <label>Nama Lengkap :</label>
                <input type="text" placeholder="Nama Lengkap" class="form-control input-md" name="nama_lengkap" id="nama_lengkap" [(ngModel)]="data.nama_lengkap">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 clearfix">
                <label>Nama Bank :</label>
                <input type="text" placeholder="Nama Bank" class="form-control input-md" name="other_bank" id="other_bank" [(ngModel)]="data.bank">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 clearfix">
                <label>Nomor Rekening :</label>
                <input type="text" placeholder="Nomor Rekening" class="form-control input-md" name="no_rekening" id="no_rekening" [(ngModel)]="data.no_rekening">
              </div>
            </div>
            </fieldset>
            <!-- <div class="form-group">
              <div class="col-md-12">
                <label>Tanggal Penambahan Dana :</label>
                <input  type="text" placeholder="Tanggal" name="date" class="form-control input-md datepicker" id="date" disabled>
              </div>
            </div> -->
            <div class="form-group">
              <div class="col-md-10 clearfix">
              <span class="required">*</span>
                <label>Nominal :</label>
                <input type="text" placeholder="Nominal" class="form-control input-md" name="amount" id="amount" [(ngModel)]="data.amount">
              </div>
            </div>
            <div class="form-group">
        </div>
      </div>
      </form>
      <div class="col-md-12 col-center">
        <button class="btn btn-default" (click)="cancelWithdrawal()">Batal</button>
        <button class="btn btn-red" type="submit" (click)="createWithdrawal(data)">Simpan</button>
      </div>
      <form-confirm *ngIf="formConfirm == 1" [dataVerificationCode]="verification_code" [dataId]="id" ></form-confirm>
      <message *ngIf="data.bank == 'Belum diisi' || data.no_rekening == 'Belum diisi'"></message>

  </div>
  </div>
</div>