<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box bg-transparent">
            <div class="box-header">
              <h2 class="box-title pull-left">Edit Profile</h2>
            </div>
            <div class="box-body">
              <div class="clearfix white-bg detail-page">
                  <div class="box-img-detail">
                    <input type="file" name="foto_diri" id="foto_diri">
                    <img src="{{ profile.profile_image }}" alt="Photo Profile" class="thumbnail" width="500%" height="500%">
                  </div>
                <div class="row">
                <!-- personal data -->
                <personal></personal>
                </div>

                <!-- personal-family data -->
                <personal-family *ngIf="statusMarried == 1 || data.status_perkawinan == 1"></personal-family>
                
                <!-- family data -->
                <family></family>

                <!-- job data -->
                <!-- component if sumber_pendapatan  == work --> 
                <work *ngIf="sumber_pendapatan == 1 || data.sumber_pendapatan == 1"></work>

                <!-- business data -->
                <!-- component if sumber_pendapatan  == business -->
                <business *ngIf="sumber_pendapatan == 2 || data.sumber_pendapatan == 2"></business>

                <!-- other-income-one data -->
                <div>
                <div class="form-group clearfix">
                  <div class="box-header">
                    <h2 class="box-title pull-left">Data Pendapatan Lain</h2>
                  </div>
                <div class="form-group">
                 <div class="col-md-12">
                   <select class="form-control input-md" name="pendapatanLainFirst" id="pendapatanLainFirst" (change)="getPendapatanLainFirst($event.target.value)" [(ngModel)]="data.pendapatan_lain_1">
                      <option value="0" disabled>Pendapatan lain</option>
                      <option [value]="1">Ya</option>
                      <option [value]="2">Tidak</option>
                   </select>
                 </div>
                </div>
                </div>

                <!-- component other-income-one and component if has other-income-one -->
                <!-- component if has other-income-one -->
                <other-income-one *ngIf="pendapatanLainFirst == 1"></other-income-one>

                <br><br>

                <!-- component other-income-two, is component will show if has other-income-two and this function yet in other-income-one -->
                <other-income-two *ngIf="pendapatanLainSecond == 1"></other-income-two>
                </div>
                <!-- Data Penunjang -->
                <div class="form-group clearfix">
                  <div class="box-header">
                    <h2 class="box-title pull-left">Data Penunjang</h2>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="col-xs-4">
                    <label class="unit">Foto NPWP</label>
                      <img src="{{ complement_data.foto_npwp }}" alt="Photo NPWP" class="thumbnail" width="250px" height="250px">
                      <input type="file" name="foto_npwp" id="foto_npwp">
                  </div>
                  <div class="col-xs-4">
                    <label class="unit">Foto Tabungan</label>
                      <img src="{{ complement_data.foto_tabungan }}" alt="Photo Tabungan" class="thumbnail" width="250px" height="250px">
                      <input type="file" name="foto_tabungan" id="foto_tabungan">
                  </div>
                  <div class="col-xs-4">
                    <label class="unit">Foto Identitas</label>
                      <img src="{{ complement_data.foto_identitas }}" alt="Photo Identitas" class="thumbnail" width="250px" height="250px">
                      <input type="file" name="foto_identitas" id="foto_identitas">
                  </div>
                </div>
                <!-- <support></support> -->

                <div class="col-md-12">
                    <div class="form-group">
                       <div class="col-md-6 col-center">
                          <button class="btn btn-default" (click)="cancelUpdateProfile(data)">Batal</button>
                          <button class="btn btn-red" (click)="updateProfile(data)">Simpan</button>
                          <button class="btn btn-red" (click)="check()">check</button>
                       </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end box edit -->
      </div>
  </section>
</div>