<div class="box-header" align="center">
  <h2 class="box-title">Detail Borrower</h2>
</div>
<div class="box-body">
  <div  *ngIf="loaderDetailBorrower == 0">
  <div class="row">
    <div align="center"> 
      <br>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div  *ngIf="loaderDetailBorrower == 1">
  <div class="row">
    <div class="col-md-4">
     <img src="{{ dataDetailBorrower.borrower_image }}" alt="Foto Peminjam" style="padding-left: 25%;">
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <div class="col-xs-4">
          <label class="unit">Nama Lengkap</label>
        </div>
        <div class="col-xs-7">
          <input type="text" placeholder="Nama Lengkap" class="form-control input-md" name="full_name" id="full_name" value="{{ dataDetailBorrower.borrower_name }}" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-4">
          <label class="unit">Borrower</label>
        </div>
        <div class="col-xs-7">
          <input type="text" placeholder="Borrower" class="form-control input-md" name="borrower" id="borrower" value="{{ dataDetailBorrower.borrower }}" disabled>
        </div>
     </div>
     <div class="form-group">
        <div class="col-xs-4">
          <label class="unit">Credit</label>
        </div>
        <div class="col-xs-7">
          <input type="text" placeholder="Credit" class="form-control input-md" name="credit" id="credit" value="{{ dataDetailBorrower.fund_history }}" disabled>
        </div>
     </div>
     <div class="form-group">
        <div class="col-xs-4">
          <label class="unit">Salary</label>
        </div>
        <div class="col-xs-7">
          <input type="text" placeholder="Salary" class="form-control input-md" name="salary" id="salary" value="{{ dataDetailBorrower.user_class }}" disabled>
        </div>
     </div>
     <div class="form-group">
        <div class="col-xs-4">
          <label class="unit">Review</label>
        </div>
        <div class="col-xs-7">
          <div class="unit">
            <label *ngFor="let data of imageRate100"><img onmousedown="return false" oncontexmenu="return false" onselectstart="return false" src="../../assets/img/star/100.png" style="width:30px ;height: 30px;"></label>
            <label *ngIf="imageRate25 === 1"><img onmousedown="return false" oncontexmenu="return false" onselectstart="return false" src="../../assets/img/star/25.png" style="width:30px ;height: 30px;"></label>
            <label *ngIf="imageRate50 === 1"><img onmousedown="return false" oncontexmenu="return false" onselectstart="return false" src="../../assets/img/star/50.png" style="width:30px ;height: 30px;"></label>
            <label *ngIf="imageRate75 === 1"><img onmousedown="return false" oncontexmenu="return false" onselectstart="return false" src="../../assets/img/star/75.png" style="width:30px ;height: 30px;"></label>
            <label *ngFor="let data of imageRate0"><img onmousedown="return false" oncontexmenu="return false" onselectstart="return false" src="../../assets/img/star/0.png" style="width:30px ;height: 30px;"></label>
            <span  class="unit">({{ dataDetailBorrower.avg_reviews }}) reviews {{ dataDetailBorrower.total_reviews }} tenor </span>
          </div>
        </div>
     </div>
     <div class="form-group">
        <div class="col-xs-4">
          <label class="unit">Jumlah Pinjaman</label>
        </div>
        <div class="col-xs-7">
          <input type="text" placeholder="Nilai Pinjaman" class="form-control input-md" name="nilai_pinjaman" id="nilai_pinjaman" value="{{ dataBorrowerAmount }}" disabled>
        </div>
     </div> 
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
   <label><h2 style="font-size: 30px;color: orange;">Riwayat Pembayaran</h2></label>
    <div class="box-body data-tables table-responsive">
    <table class="table table-hover" id="example2">
      <thead>
        <tr>
          <th>No.</th>
          <th>Angsuran Ke</th>
          <th>Tanggal Jatuh Tempo</th>
          <th>Tanggal Pembayaran</th>
          <th>Status</th>
          <th style="text-align: center">Rate</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="dataArrayNull === 1">
          <td colspan="5" align="center">Data belum tersedia</td>
        </tr>
        <tr *ngFor="let dataPayment of dataPayment, let i ='index'">
          <td>{{ i + 1 }}</td>
          <td>{{ dataPayment.installment_order }}</td>
          <td>{{ dataPayment.due_date }}</td>
          <td>{{ dataPayment.payment_date }}</td>
          <td>{{ dataPayment.status }}</td>
          <td style="text-align: center">
            <div *ngIf="dataPayment.status == 'Lunas'">
              <div *ngIf="imagePaymentRate100 == 1">
                <label *ngFor="let data of imagePaymentRate100"><img onmousedown="return false" oncontexmenu="return false" onselectstart="return false" src="../../assets/img/star/100.png" style="width:30px ;height: 30px;"></label>
              </div>
              <div *ngIf="imagePaymentRate25 === 1">
                <label><img onmousedown="return false" oncontexmenu="return false" onselectstart="return false" src="../../assets/img/star/25.png" style="width:30px ;height: 30px;"></label>
              </div>
              <div *ngIf="imagePaymentRate50 === 1">
                <label><img onmousedown="return false" oncontexmenu="return false" onselectstart="return false" src="../../assets/img/star/50.png" style="width:30px ;height: 30px;"></label>
              </div>
              <div *ngIf="imagePaymentRate75 === 1">
                <label><img onmousedown="return false" oncontexmenu="return false" onselectstart="return false" src="../../assets/img/star/75.png" style="width:30px ;height: 30px;"></label>
              </div>
              <div *ngIf="imagePaymentRate0 === 1">
                <label *ngFor="let data of imagePaymentRate0"><img onmousedown="return false" oncontexmenu="return false" onselectstart="return false" src="../../assets/img/star/0.png" style="width:30px ;height: 30px;"></label>
              </div>
            </div>
            <div *ngIf="dataPayment.status == 'Belum Bayar'">-</div>
          </td>
          <td *ngIf="dataPayment.status == 'Belum Bayar'">
            <button class="pull-right" (click)="showNotPaidForm(dataPayment.history_payment_id)"><i aria-hidden="true" class="fa fa-search" id="detailBelumBayar"></i></button>
          </td>
          <td *ngIf="dataPayment.status == 'Lunas'">
            <button class="pull-right" (click)="showPaidForm(dataPayment.history_payment_id)">
              <i aria-hidden="true" class="fa fa-search" id="detailLunas"></i>
            </button>
            <button color="red" (click)="showScoringForm(dataPayment.history_payment_id)" id="rate">Rate</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>  
    </div>
  </div>
  <detail-payment *ngIf="showDetailPayment == 1" [dataDetailPayment]="detailPayment" (onHide)="onHide($event)"></detail-payment>
  <scoring-form *ngIf="scoringForm === 1" (statusForm)="hideForm($event)" [dataScoring]="dataScoring"></scoring-form>
</div>
</div>