<div class="form-group">
  <div class="col-xs-12">
  <br>
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-xs-3">
    <label class="unit">Nama Usaha</label>
  </div>
  <div class="col-xs-7">  
    <input type="text" placeholder="Nama Usaha" class="with-unit form-control input-md data-pekerjaan" [(ngModel)]="data.nama_usaha" name="nama_usaha" id="nama_usaha">
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-xs-3">
    <label class="unit">Jenis Perusahaan</label>
  </div>
  <div class="col-xs-7">    
    <input type="text" placeholder="Jenis Perusahaan" class="with-unit form-control input-md data-pekerjaan" [(ngModel)]="data.jenis_perusahaan" name="jenis_perusahaan" id="jenis_perusahaan">
  </div>
</div>
<!-- <div class="form-group clearfix">
  <div class="col-xs-3"> 
    <label class="unit">Pengeluaran per bulan</label>
  </div>
  <div class="col-xs-7">
    <input type="text" placeholder="Pengeluaran per bulan" class="with-unit form-control input-md data-pekerjaan" [(ngModel)]="data.pengeluaran_per_bulan" name="pengeluaran_per_bulan" id="pengeluaran_per_bulan">
  </div>
</div> -->
<div class="form-group clearfix">
  <div class="col-xs-3">  
    <label class="unit">Tahun Perusahaan Berdiri</label>
  </div>
  <div class="col-xs-7">
    <input type="text" placeholder="Tahun Perusahaan Berdiri" class="with-unit form-control input-md data-pekerjaan" [(ngModel)]="data.tahun_perusahaan_berdiri" name="tahun_perusahaan_berdiri" id="tahun_perusahaan_berdiri">
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-xs-3">
    <label class="unit">Pendapatan Bersih</label>
  </div>
  <div class="col-xs-7">
    <input type="text" placeholder="Pendapatan Bersih Perusahaan" class="with-unit form-control input-md data-pekerjaan" [(ngModel)]="data.pendapatan_bersih_perusahaan" name="pendapatan_bersih_perusahaan" id="pendapatan_bersih_perusahaan">
  </div>
</div>