<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Sumber Pendapatan Lainnya</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="Sumber Pendapatan Lain 2" class="with-unit form-control input-md" value="{{ complement_data.sumber_pendapatan_lain_2 }}" [(ngModel)]="data.sumber_pendapatan_lain_2" name="sumber_pendapatan_lain_2" id="sumber_pendapatan_lain_2">
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Jumlah Pendapatan Lainnya</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="Jumlah Pendapatan Lain 2" class="with-unit form-control input-md" value="{{ complement_data.jumlah_pendapatan_lain_2 }}" [(ngModel)]="data.jumlah_pendapatan_lain_2" name="jumlah_pendapatan_lain_2" id="jumlah_pendapatan_lain_2">
  </div>
</div>