 <!-- Content Wrapper. Contains page content -->
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box bg-transparent">
            <div class="box-header">
              <h2 class="box-title pull-left">Detail Pinjaman</h2>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="clearfix white-bg detail-page">
                <div class="col-md-5">
                  <div class="box-img-detail"><img src="{{ image }}"></div>
                </div>
                <div class="col-md-7">
                  <div class="form-login-register no-padding">
                    <form class="form-horizontal clearfix row">
                        <div class="col-md-10">
                          <div class="form-group">
                            <div class="col-md-3">
                              <label class="unit">Nama Investasi</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" placeholder="{{ detail.invest_name }}" class="with-unit form-control input-md" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-3">
                              <label class="unit">Tipe Investasi</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" placeholder="{{ detail.tipe }}" class="with-unit form-control input-md" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                          <div class="col-md-3">
                              <label class="unit">Deskripsi</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" placeholder="{{ detail.is_collateral }}" class="with-unit form-control input-md" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-3">
                              <label class="unit">Nominal Investasi</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" placeholder="{{ detail.amount }}" class="with-unit form-control input-md" disabled>
                            </div>
                          </div>
                         <div class="form-group">
                            <div class="col-md-3">
                              <label class="unit">Bunga</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" placeholder="0" class="with-unit form-control input-md" disabled>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-3">
                              <label class="unit">Tenor</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" placeholder="{{ detail.tenor }}" class="with-unit form-control input-md" disabled>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <!-- Button -->
                          <div class="form-group">
                             <div class="col-md-6 col-center">
                                <button class="btn btn-default">Tidak Setuju</button>
                                <button class="btn btn-red ">Setuju</button>
                             </div>
                          </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- /.content -->
  <!-- /.content-wrapper -->