 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box bg-transparent">
            <div class="box-header">
              <h2 class="box-title pull-left">Investasi</h2>
              <div class="pull-right">
                <select class="box-datepicker">
                  <option>Tipe Pinjaman</option>
                </select>
                <div class="box-datepicker">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <input id="" name="" type="text" placeholder="30 May 2015" class="form-control input-md datepicker" required="">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
                <div class="box-datepicker">
                  <input type="text" class="" placeholder="Cari" />
                  <img src="../../assets/img/icon-search.png" class="icon-search">
                </div>
                <a href="#/dashboard/create-investasi" color="white">
                <button type="submit" class="add-advance-search">Tambah
                </button>
                </a>
                <button type="submit" class="add-advance-search">List Investasi</button>
               </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalTambah" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                             <h4 class="modal-title" id="memberModalLabel">Verifikasi</h4>
                        </div>
                        <div class="modal-body">
                           <div class="verifikasi">
                               <p>Silahkan masukkan nomor verifikasi yang anda terima melalui SMS</p>
                            <input type="text" class="form-control" placeholder="nomor verifikasi"/>
                           </div>
                        </div>
                        <div class="modal-footer">
                         <button type="button" class="btn btn-batal" data-dismiss="modal">Batal</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Kirim</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body data-tables table-responsive">
              <table id="example2" class="table table-hover">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Nama Investor</th>
                    <th>Tanggal</th>
                    <th>Tipe Pinjaman</th>
                    <th>Nominal Investasi</th>
                    <th>Deskripsi</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <img src="../../assets/img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                 <!--  <tr>
                    <td>346</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>347</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>348</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>349</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>350</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>351</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>352</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>353</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>354</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>355</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>356</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>357</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>358</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- JS -->
  <script type="text/javascript">
    $('#modalTambah').modal('show')
  </script>