 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box bg-transparent">
            <div class="box-header">
              <h2 class="box-title pull-left">Investasi</h2>
              <form class="pull-right">
                <select class="box-datepicker">
                  <option>Tipe Pinjaman</option>
                </select>
                <div class="box-datepicker">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <input id="" name="" type="text" placeholder="30 May 2015" class="form-control input-md datepicker" required="">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
                <div class="box-datepicker">
                  <input type="text" class="" placeholder="Cari" />
                  <img src="img/icon-search.png" class="icon-search">
                </div>
                <button tpe="submit" class="add-advance-search">Tambah</button>
              </form>
            </div>
            <!-- /.box-header -->
            <div class="box-body data-tables table-responsive">
              <table id="example2" class="table table-hover">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Nama Investor</th>
                    <th>Tanggal</th>
                    <th>Tipe Pinjaman</th>
                    <th>Nominal Investasi</th>
                    <th>Deskripsi</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>345</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>346</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>347</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>348</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>349</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>350</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>351</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>352</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>353</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>354</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>355</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>356</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>357</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>358</td>
                    <td>
                      <img src="img/user4-128x128.jpg">
                      Yolanda Santoso
                    </td>
                    <td>23/04/2016</td>
                    <td><span class="warranty">Tanpa Jaminan</span></td>
                    <td>1.500.000</td>
                    <td>Investasi penjualan beras wangi</td>
                    <td>
                      <a class="pull-right" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      <a class="pull-right" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->