<div class="row">
  <div align="center" *ngIf="dataListFundAd == 0"> 
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <br>
</div>
<!-- Main content -->
<div *ngIf="dataListFundAdd == 1">
  <div class="col-xs-12" align="right">
    <button class="add-advance-search" (click)="linkCreateFund()">
      Tambah
    </button>
  </div>
  <div class="col-md-12">
  <!-- Tab panes -->
  <div class="tab-content ">
      <div role="tabpanel" class="tab-pane active" id="investasi">
      <br>
      <br>
      <div class="box-body data-tables table-responsive">
        <table class="table table-hover" id="example2">
          <thead>
            <tr>
              <th>No.</th>
              <th>Nomor Referensi</th>
              <th>Tanggal</th>
              <th>Nominal Rp</th>
              <th>Tanggal Konfirmasi</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of funds; let i='index'">
              <td>{{ i+1 }}</td>
              <td>
                {{ data.no_reference }}
              </td>
              <td>{{ data.date }}</td>
              <td>{{ data.amount }}</td>
              <td>{{ data.confirm_date }}</td>
              <td>{{ data.status }}</td>
              <td>
                <button class="pull-right" (click)="showConfirmFund(data.id)">
                  Konfimasi
                </button>
                <!-- <a class="pull-right" [routerLink]="['/dashboard/fund/confirm', data.id]">
                  Konfirmasi
                </a> -->
                <button class="pull-right" (click)="showDetailDana(data.id)">
                  <i aria-hidden="true" class="fa fa-search"></i>
                </button><!-- 
                <a class="pull-right" [routerLink]="['/dashboard/fund/detail', data.id]"><i aria-hidden="true" class="fa fa-search"></i></a> -->
              </td>
            </tr>
          </tbody>
        </table>
        </div>  
      <nav aria-label="Page navigation" *ngIf="total_pagination > 1">
        <ul class="pagination">
         <!--  <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li> -->
          <li *ngFor="let a of array_total"><a href="#/dashboard/fund" id="a" (click)="linkTo(a)">{{ a }}</a></li>
          <!-- <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li> -->
        </ul>
      </nav>      
      </div>
    </div>
  </div>
</div>
<div align="center" *ngIf="dataListFundAdd == 0"> 
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>
<!-- Modal -->
<div class="modal fade modal-lg" id="myModal" style="z-index:9000;">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="hideDetailDana()">&times;</button>
        <h4 class="modal-title">Detail Dana</h4>
      </div>
      <div class="modal-body">
      <div  *ngIf="loaderDana == 0">
        <div class="row">
          <div align="center"> 
            <br><br><br><br><br>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div  *ngIf="loaderDana == 1">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="col-xs-4">
                <label class="unit">No Referensi</label>
              </div>
              <div class="col-xs-7">
                <input type="text" placeholder="No Referensi" class="form-control input-md" name="no_reference" id="no_reference" value="{{ detail.no_reference }}" disabled>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-4">
                <label class="unit">Nama Lengkap</label>
              </div>
              <div class="col-xs-7">
                <input type="text" placeholder="Nama Lengkap" class="form-control input-md" name="nama_lengkap" id="nama_lengkap" value="{{ detail.nama_lengkap }}" disabled>
              </div>
           </div>
           <div class="form-group">
              <div class="col-xs-4">
                <label class="unit">Nama Bank</label>
              </div>
              <div class="col-xs-7">
                <input type="text" placeholder="Nama Bank" class="form-control input-md"  name="bank_name" id="bank_name" value="{{ bank }}" disabled>
              </div>
           </div>
           <div class="form-group">
              <div class="col-xs-4">
                <label class="unit">Tanggal</label>
              </div>
              <div class="col-xs-7">
                  <input  type="text" placeholder="Tanggal" name="date" class="form-control input-md datepicker" id="date" value="{{ detail.date }}" disabled>
              </div>
           </div>
           <div class="form-group">
              <div class="col-xs-4">
                <label class="unit">Nominal</label>
              </div>
              <div class="col-xs-7">
                 <input type="text" placeholder="Nominal" class="form-control input-md" name="amount" id="amount" value="{{ dataAmount }}" disabled>
              </div>
           </div>
           <div class="form-group">
              <div class="col-xs-4">
                <label class="unit">Tanggal Transfer</label>
              </div>
              <div class="col-xs-7">
               <input type="text" placeholder="Tanggal Transfer" class="form-control input-md" name="tanggal_transfer" id="tanggal_transfer" value="{{ detail.date }}" disabled>
              </div>
           </div> 
           <div class="form-group">
              <div class="col-xs-4">
                <label class="unit">Bukti Transfer</label>
              </div>
              <div class="col-xs-7">
               <img src="{{ detail.images }}" alt="Bukti Transfer" disabled>
              </div>
           </div> 
          </div>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hideDetailDana()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modal form confirm -->
<div class="modal fade" id="modalFormConfirm" style="z-index:9000;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" (click)="cancelConfirmFund()">&times;</button> -->
        <h4 class="modal-title">Konfirmasi Dana</h4>
      </div>
      <div class="modal-body">
      <div  *ngIf="loaderConfirmFund == 0">
        <div class="row">
          <div align="center"> 
            <br><br><br><br><br>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div  *ngIf="loaderConfirmFund == 1">
      <form-confirm></form-confirm>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" style="background-color: #c0392b;color: white" (click)="cancelConfirmFund()">Batal</button>
        <button type="button" class="btn btn-red" (click)="submitConfirmFund()">Konfirmasi</button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <br>
</div>
<!-- /.content -->