<div class="col-xs-8">
  <div class="box box-solid radius-10">
  <div class="box-header">
    <i class="fa fa-user" aria-hidden="true"></i>
    <h3 class="box-title">
      Data Pribadi
    </h3>
    <h3 class="box-title pull-right" *ngIf="editDataPribadi == 0">
      <a href="#/dashboard/profile" (click)="enableDataDiri()">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </h3>
  </div>
  <hr>
  <div class="box-body">
  <fieldset disabled id="personal">
    <div class="form-group clearfix">
      <div class="col-xs-12">
        <div class="form-group">
        <div class="col-xs-3">
          <label class="unit">Nama Lengkap</label>
        </div>
        <div class="col-xs-9">
          <input type="text" placeholder="Nama Lengkap" class="with-unit form-control input-md data-diri" id="nama_lengkap" value="{{ profile.name }}" [(ngModel)]="data.nama_lengkap">
        </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
          <br>
          </div>
        </div>
        <div class="form-group">
        <div class="col-xs-3">
          <label class="unit">Jenis Kelamin</label>
        </div>
        <div class="col-xs-9">
          <select class="with-unit form-control input-md data-diri" name="jenis_kelamin" id="jenis_kelamin" (change)="getGender($event.target.value)" [(ngModel)]="data.jenis_kelamin">
              <option value="0" disabled>Jenis Kelamin</option>
              <option [value]="1">Laki-Laki</option>
              <option [value]="2">Perempuan</option>
          </select>
        </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
          <br>
          </div>
        </div>
        <div class="form-group">
        <div class="col-xs-3">
          <label class="unit">Tempat Lahir</label>
        </div>
        <div class="col-xs-9">
          <input type="text" value="{{ profile.tempat_lahir }}" class="with-unit form-control input-md data-diri" placeholder="Tempat Lahir" [(ngModel)]="data.tempat_lahir">
        </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
          <br>
          </div>
        </div>
        <div class="form-group">
        <div class="col-xs-3">
          <label class="unit">Tanggal Lahir</label>
        </div>
        <div class="col-xs-9">
          <input type="text" value="{{ profile.tanggal_lahir }}" class="with-unit form-control input-md data-diri datepicker" placeholder="Tanggal Lahir" id="tanggal_lahir" name="tanggal_lahir" [(ngModel)]="data.tanggal_lahir">
        </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
          <br>
          </div>
        </div>
        <div class="form-group">
        <div class="col-xs-3">
          <label class="unit">Nama Ibu Kandung</label>
        </div>
        <div class="col-xs-9">
          <input type="text" value="{{ profile.nama_gadis_ibu_kandung }}" class="with-unit form-control input-md data-diri " placeholder="Nama Ibu Kandung" id="nama_gadis_ibu_kandung" name="nama_gadis_ibu_kandung" [(ngModel)]="data.nama_gadis_ibu_kandung">
        </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
          <br>
          </div>
        </div>
         <div class="form-group">
        <div class="col-xs-3">
          <label class="unit">Status Perkawinan</label>
        </div>
        <div class="col-xs-9">
          <select class="with-unit form-control input-md data-diri" name="status_perkawinan" id="status_perkawinan" (change)="getStatusMarried($event.target.value)" [(ngModel)]="data.status_perkawinan">
              <option value="2" disabled>Status Perkawinan</option>
              <option [value]="1">Menikah</option>
              <option [value]="0">Belum Menikah</option>
          </select>
        </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
          <br>
          </div>
        </div>
        <div *ngIf="statusMarried == 1 || data.status_perkawinan == 1">
         <div class="form-group">
          <div class="col-xs-3">
            <label class="unit">Jumlah Anak</label>
          </div>
          <div class="col-xs-9">
            <input type="text" placeholder="Jumlah Anak" class="with-unit form-control input-md" id="jumlahanak" value="{{ complement_data.jumlah_anak }}" [(ngModel)]="data.jumlah_anak">
          </div>
        </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
          <br>
          </div>
        </div>
        <div class="form-group">
        <div class="col-xs-3">
          <label class="unit">Alamat</label>
        </div>
        <div class="col-xs-9">
          <textarea type="text" value="{{ profile.alamat }}" class="with-unit form-control input-md data-diri" placeholder="Alamat" [(ngModel)]="data.alamat">
          </textarea>
        </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
          <br>
          </div>
        </div>
        <div class="form-group">
        <div class="col-xs-3">
          <label class="unit">No Handphone</label>
        </div>
        <div class="col-xs-9">
          <input type="text" placeholder="No Handphone" class="with-unit form-control input-md data-diri" value="{{ profile.phone_number }}" [(ngModel)]="data.phone_number">
        </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
          <br>
          </div>
        </div>
        <div class="form-group">
        <div class="col-xs-3">
          <label class="unit">Email Address</label>
        </div>
        <div class="col-xs-9">
          <input type="text" value="{{ profile.email }}" class="with-unit form-control input-md data-diri" placeholder="Address Email" [(ngModel)]="data.alamat_email">
        </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
          <br>
          </div>
        </div>
        <div class="form-group">
        <div class="col-xs-3">
          <label class="unit">Status Perkawinan</label>
        </div>
        <div class="col-xs-9">
          <select class="with-unit form-control input-md data-diri" name="status_perkawinan" id="status_perkawinan" (change)="getStatusMarried($event.target.value)" [(ngModel)]="data.status_perkawinan">
              <option value="2" disabled>Status Perkawinan</option>
              <option [value]="1">Menikah</option>
              <option [value]="0">Belum Menikah</option>
          </select>
        </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
          <br>
          </div>
        </div>
        <div *ngIf="statusMarried == 1 || data.status_perkawinan == 1">
         <div class="form-group">
          <div class="col-xs-3">
            <label class="unit">Jumlah Anak</label>
          </div>
          <div class="col-xs-9">
            <input type="text" placeholder="Jumlah Anak" class="with-unit form-control input-md" id="jumlahanak" value="{{ complement_data.jumlah_anak }}" [(ngModel)]="data.jumlah_anak">
          </div>
        </div>
        </div>
      </div>
      <div class="col-xs-12" *ngIf="editDataPribadi == 1">
          <div class="form-group">
             <div class="col-xs-6 col-center">
                <button class="btn btn-default" (click)="cancelDataPribadi()">
                  Batal
                </button>
                <button class="btn btn-red" (click)="updateDataPribadi(data)">
                  Simpan
                </button>
             </div>
          </div>
      </div>
    </div>
    </fieldset>
  </div>
  </div>
</div>