<div class="box-header" align="center">
  <h2 class="box-title">Detail Investasi</h2>
</div>
<div class="box-body">
  <div *ngIf="dataDetailListInvest == 1">
    <div class="col-md-4">
      <div class="box box-solid radius-10" style="border: 2px">
        <div class="form-group"><br>
        <img src="{{ data.images }}" alt="Foto Investasi" class="thumbnail" width="250px" height="250px">
        </div>
      </div>
      <div class="box box-solid radius-10">
        <div align="center">
          <label><h2 style="font-size: 24px;color: orange;">Form Pinjaman</h2></label>
        </div>
        <div *ngIf="dataDetailInvest == 0">
          <div class="form-group">
            <input type="text" placeholder="Jumlah Pinjaman" class="form-control input-md" name="loan_amount" id="loan_amount" value="" [(ngModel)]="loan.loan_amount">
          </div>
          <div class="form-group">
            <button class="btn btn-default" (click)="cancelDetailInvest()">Kembali</button>
            <button class="btn btn-red" (click)="makeLoan(loan)" style="background-color: #e74c3c;"><font style="color:white">Pinjam Sekarang!</font></button>
          </div>
        </div>
        <!-- component password -->
        <verify *ngIf="dataDetailInvest == 1"></verify>
        <div align="center" *ngIf="dataDetailInvest == 3"> 
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="box box-solid radius-10">
      <br>
        <div class="col-md-12 clearfix"> 
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Nama Investasi</label>
            </div>
            <div class="col-md-7 clearfix">
              <input type="text" placeholder="Nama Investasi" class="form-control input-md" name="invest_name" id="invest_name" value="{{ data.loan_name }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Jumlah Investasi</label>
            </div>
            <div class="col-md-7 clearfix">
              <input type="text" placeholder="Jumlah Investasi" class="form-control input-md" name="amount" id="amount" value="{{ dataAmount }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Sisa Investasi</label>
            </div>
            <div class="col-md-7 clearfix">
              <input type="text" placeholder="Sisa Investasi" class="form-control input-md" name="sisa" id="sisa" value="{{ dataRestAmount }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <!-- null -->
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Tipe Investasi</label>
            </div>
            <div class="col-md-7 clearfix">
              <input type="text" placeholder="Tipe Invest" class="form-control input-md" name="invest_name" id="invest_name" value="{{ data.tipe }}" disabled>
             </div>
          </div>
          <div class="form-group">
            <!-- null -->
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Deskipsi</label>
            </div>
            <div class="col-md-7 clearfix">
              <textarea type="text" placeholder="Description" class="form-control input-md" name="description" id="description" value="{{ data.collateral_value }}" disabled></textarea>
            </div>
          </div>
          <div class="form-group">
            <!-- null -->
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Batas Penawaran</label>
            </div>
            <div class="col-md-7 clearfix">
              <input  type="text" placeholder="Batas Akhir Penawaran" name="due_date" class="form-control input-md" id="due_date" value="" value="{{ data.due_date }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <!-- null -->
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Bunga</label>
            </div>
            <div class="col-md-5 clearfix">
              <input type="text" placeholder="Bunga" class="form-control input-md" name="interest" id="interest" value="{{ data.interest }}" disabled>
            </div>
              <label class="unit">%/Bulan</label>
          </div>
          <div class="form-group">
            <!-- null -->
          </div>
          <div class="form-group">
            <div class="col-md-4 clearfix">
              <label class="unit">Tenor</label>
            </div>
            <div class="col-md-5">
              <input type="text" placeholder="Tenor" class="form-control input-md" name="tenor" id="tenor" value="{{ data.tenor }}" disabled>
            </div>
            <label class="unit">Bulan</label>
          </div>
          <div class="form-group">
            <!-- null -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div align="center" *ngIf="dataDetailListInvest == 0"> 
    <br>
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>