 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Main content -->
<section class="content list-user">
  <div class="row">
    <div class="col-md-12">
      <div class="box bg-transparent">
        <div class="box-header">
          <!-- header -->
        </div>          
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <!-- <li role="presentation" class="active"> -->
          <li role="presentation" class="{{ classFund }}">
            <a href="#/dashboard/fund/fund-add" aria-controls="home" role="tab" aria-expanded="true" style="color:#34495e" (click)="fund(1)">
              Fund
            </a>
          </li>
          <li role="presentation" class="{{ classWithdrawal }}">
            <a href="#/dashboard/fund/fund-withdrawal" aria-controls="profile" role="tab" aria-expanded="false" style="color:#34495e" (click)="withdrawal(2)">
              Withdrawal
            </a>
          </li>
        </ul>
        <br>
        <form class="form-horizontal clearfix row white-bg detail-page form-space">
        <div class="tab-content ">
        	<h1></h1>
	        <div class="col-md-12">
	        <!-- content route -->
	        <router-outlet></router-outlet>
      		</div>
      	</div>
      	</form>
      </div>
    </div>
  </div>
</section> 
<!-- /.content -->
</div>
  <!-- JS -->
<!--   <script type="text/javascript">
    $('#modalTambah').modal('show')
  </script> -->