<div class="row">
<div class="col-md-12">
  <div class="box bg-transparent">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation">
        <a routerLink="/dashboard/fund/fund-add" routerLinkActive="active"  aria-controls="home" role="tab" aria-expanded="true" style="color:#34495e" (click)="fund(1)">Tambah Dana</a>
      </li>
      <li role="presentation">
        <a routerLink="/dashboard/fund/fund-withdrawal" routerLinkActive="active" aria-controls="profile" role="tab" aria-expanded="false" style="color:#34495e" (click)="withdrawal(2)">Tarik Dana</a>
      </li>
    </ul>
    <br>
    <form class="form-horizontal clearfix row white-bg detail-page form-space">
    <div class="tab-content ">
      <div class="col-md-12">
        <!-- content route -->
        <router-outlet></router-outlet>
      </div>
    </div>
    </form>
  </div>
</div>
</div>