<div class="top-menu-header">
    <div class="nav-top clearfix">
      <div class="container">
        <div class="row">
          <div class="pull-right socmed">
            <ul>
              <li class="dropdown language">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Indonesia<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">English</a></li>
                </ul>
              </li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="pull-left company-info">
            <ul>
              <li class="no-padding-left"><a href="">Support 24/7</a></li>
              <li><a href="">Tanya Jawab</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="line-separator"></div>

    <nav class="navbar navbar-head">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../assets/img/logo.png"/></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="navbar-right">
              <li class="dropdown">
                <a href="#" >Login</a>
              </li>
              <li class="dropdown">
                <a href="#" >Daftar</a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li class="active" *ngFor="let menu of menus"><a href="#">Pendanaan</a></li>
              <li><a href="#">{{ menu.name }}</a></li>
            </ul>
          </div>
          <!--/.navbar-collapse -->
        </div>
      </div>
    </nav>
  </div>