<div class="form-account form-login-register" id="register">
   <h2>Registrasi</h2>
   <p>Silakan isi data berikut untuk mendaftarkan diri anda</p>
   <div class="row">
      <ul class="breadcrumb">
         <li class="completed"><a href="javascript:void(0);"><span><i class="fa fa-check" aria-hidden="true"></i></span> Data Diri </a></li>
         <li class="completed"><a href="javascript:void(0);"><span>2</span> Data Keluarga </a></li>
         <li class="active"><a href="javascript:void(0);"><span>3</span> Data Pekerjaan </a></li>
         <li><a href="javascript:void(0);"><span>4</span>  Data Penunjang</a></li>
      </ul>
   </div>
   <form class="form-horizontal clearfix row">
      <h3>Data Pekerjaan</h3>
      <div class="col-md-6">
         <div class="form-group">
                <div class="col-md-12">
                <span class="required">*</span>
               <select class="form-control input-md" required name="pekerjaan" [(ngModel)]="registerThree.pekerjaan">
                  <option>Pekerjaan</option>
               </select>
            </div>    
         </div>
         <!-- Password input-->
         <div class="form-group">
            <div class="col-md-12">
               <input  type="text" placeholder="Nama Perusahaan" class="form-control input-md" required name="nama_perusahaan" [(ngModel)]="registerThree.nama_perusahaan">
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
               <textarea placeholder="Alamat Perusahaan" class="form-control input-md" required name="alamat_perusahaan" [(ngModel)]="registerThree.alamat_perusahaan"></textarea>
            </div>
         </div>
          <div class="form-group">
            <div class="col-md-12">
               <input  type="text" placeholder="Nama Telepon Perusahaan" class="form-control input-md" required name="telepon_perusahaan" [(ngModel)]="registerThree.telepon_perusahaan">
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
               <input  type="text" placeholder="Jenis Usaha" class="form-control input-md" required name="jenis_usaha" [(ngModel)]="registerThree.jenis_usaha">
            </div>
         </div>
          <div class="form-group">
            <div class="col-md-6">
               <input  type="text" placeholder="Jabatan" class="form-control input-md" required name="jabatan" [(ngModel)]="registerThree.jabatan">
            </div>
             <div class="col-md-6">
               <input  type="text" placeholder="Tanggal Mulai Kerja" class="form-control input-md" required name="tanggal_mulai_kerja" [(ngModel)]="registerThree.tanggal_mulai_kerja">
            </div>
         </div>
         
      </div>
      <div class="col-md-6">
      <fieldset>
          <div class="form-group">
            <div class="col-md-8">
            <span class="required">*</span>
               <input  type="text" placeholder="Gaji Per Bulan" class="form-control input-md" required name="gaji_per_bulan" [(ngModel)]="registerThree.gaji_per_bulan">
            </div>
             <div class="col-md-4">
                <span class="rupiah">Rupiah   </span> 
             </div>
         </div>
          <div class="form-group">
            <div class="col-md-8">
            <span class="required">*</span>
               <input  type="text" placeholder="Pendapatan Lain" class="form-control input-md" required name="pendapatan_lain" [(ngModel)]="registerThree.pendapatan_lain">
            </div>
             <div class="col-md-4">
               <span class="rupiah">Rupiah   </span>
             </div>
         </div>
         <div class="form-group">
            <div class="col-md-8">
            <span class="required">*</span>
               <input  type="text" placeholder="Pengeluaran Per Bulan" class="form-control input-md" required name="pengeluaran_per_bulan" [(ngModel)]="registerThree.pengeluaran_per_bulan">
            </div>
             <div class="col-md-4">
               <span class="rupiah">Rupiah   </span>
             </div>
         </div>
         <div class="form-group">
                <div class="col-md-12">
               <select class="form-control input-md" required name="sumber_dana" [(ngModel)]="registerThree.sumber_dana">
                  <option>Sumber Dana</option>
               </select>
            </div>
         </div>
       </fieldset>
      </div>
      <div class="col-md-12">
         <!-- Button -->
         <div class="form-group">
            <div class="col-md-6 col-center">
               <button  class="btn btn-default">Kembali</button>
               <a href="#/auth/register/step-4/">Lanjutkan</a>
               <button  class="btn btn-red" (click)="stepThree(registerThree)">Lanjutkan</button>
            </div>
         </div>
      </div>
   </form>
</div>