<div class="form-account form-login-register" id="step-3">
    <h2>Registrasi</h2>
    <p>Silakan isi data berikut untuk mendaftarkan diri anda</p>
   <div class="row">
      <ul class="breadcrumb">
         <li class="completed"><a href="javascript:void(0);"><span><i class="fa fa-check" aria-hidden="true"></i></span> Data Diri </a></li>
         <li class="completed"><a href="javascript:void(0);"><span>2</span> Data Keluarga </a></li>
         <li class="active"><a href="javascript:void(0);"><span>3</span> Data Pekerjaan </a></li>
         <li><a href="javascript:void(0);"><span>4</span>  Data Penunjang</a></li>
      </ul>
   </div>
   <form class="form-horizontal clearfix row" id="step3Form" name="step3Form" novalidate [formGroup]="step3Form">
      <h3>Data Pekerjaan</h3>
      <div class="col-md-6">
         <div class="form-group">
              <div class="col-md-12">
                <span class="required">*</span>
                <div [ngClass]="{'has-error':!step3Form.controls['id_pekerjaan'].valid && step3Form.controls['id_pekerjaan'].touched}">
                 <!-- Message Error -->
               <select class="form-control input-md" required name="pekerjaan" [formControl]="step3Form.controls['id_pekerjaan']">
                  <option selected disabled value="0">Pekerjaan</option>
                  <option *ngFor="let h of pekerjaan" [value]="h.id_pekerjaan">
                      {{ h.desc_pekerjaan }}
                  </option>
               </select>
                 <p *ngIf="step3Form.controls['id_pekerjaan'].hasError('required') && step3Form.controls['id_pekerjaan'].touched">
                   <font color="red">Pekerjaan belum dipilih</font>
                 </p>
               </div>
            </div>    
         </div>
         <!-- Password input-->
         <div class="form-group">
            <div class="col-md-12">
               <input  type="text" placeholder="Nama Perusahaan" class="form-control input-md" required name="nama_perusahaan" [formControl]="step3Form.controls['nama_perusahaan']">
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
               <textarea placeholder="Alamat Perusahaan" class="form-control input-md" required name="alamat_perusahaan" [formControl]="step3Form.controls['alamat_perusahaan']"></textarea>
            </div>
         </div>
          <div class="form-group">
            <div class="col-md-12">
               <input  type="text" placeholder="Telepon Perusahaan" class="form-control input-md" required name="telepon_perusahaan" [formControl]="step3Form.controls['telepon_perusahaan']">
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
               <input  type="text" placeholder="Jenis Usaha" class="form-control input-md" required name="jenis_usaha" [formControl]="step3Form.controls['jenis_usaha']">
            </div>
         </div>
          <div class="form-group">
            <div class="col-md-6">
               <input  type="text" placeholder="Jabatan" class="form-control input-md" required name="jabatan" [formControl]="step3Form.controls['jabatan']">
            </div>
             <div class="col-md-6">
               <input  type="text" placeholder="Tanggal Mulai Kerja" class="form-control input-md datepicker" id="tanggal_mulai_kerja" required name="tanggal_mulai_kerja" [formControl]="step3Form.controls['tanggal_mulai_kerja']">
            </div>
         </div>
      </div>
      <div class="col-md-6">
      <fieldset>
          <div class="form-group">
            <div [ngClass]="{'has-error':!step3Form.controls['gaji_per_bulan'].valid && step3Form.controls['gaji_per_bulan'].touched}">
            <div class="col-md-8">
            <span class="required">*</span>
               <input  type="text" placeholder="Gaji Per Bulan" class="form-control input-md" required name="gaji_per_bulan" [formControl]="step3Form.controls['gaji_per_bulan']">
            </div>
             <div class="col-md-4">
                <span class="rupiah">Rupiah</span> 
             </div>
             <div class="col-md-12">
              <p *ngIf="step3Form.controls['gaji_per_bulan'].hasError('required') && step3Form.controls['gaji_per_bulan'].touched">
                <font color="red">Gaji per bulan</font>
              </p>
              </div>
            </div>
         </div>
          <div class="form-group">
            <div [ngClass]="{'has-error':!step3Form.controls['pendapatan_lain'].valid && step3Form.controls['pendapatan_lain'].touched}">
            <div class="col-md-8">
              <span class="required">*</span>
               <input  type="text" placeholder="Pendapatan lainnya" class="form-control input-md" required name="pendapatan_lain" [formControl]="step3Form.controls['pendapatan_lain']">
            </div>
             <div class="col-md-4">
               <span class="rupiah">Rupiah</span>
             </div>
             <div class="col-md-12">
              <p *ngIf="step3Form.controls['pendapatan_lain'].hasError('required') && step3Form.controls['pendapatan_lain'].touched">
                  <font color="red">Pendapatan lain kosong</font>
              </p>
              </div>
            </div>
         </div>
         <div class="form-group">
              <div [ngClass]="{'has-error':!step3Form.controls['pengeluaran_per_bulan'].valid && step3Form.controls['pengeluaran_per_bulan'].touched}">
          <div class="col-md-8">
            <span class="required">*</span>
               <input  type="text" placeholder="Pengeluaran Per Bulan" class="form-control input-md" required name="pengeluaran_per_bulan" [formControl]="step3Form.controls['pengeluaran_per_bulan']">
              </div>
              <div class="col-md-4">
               <span class="rupiah">Rupiah</span>
              </div>
              <div class="col-md-12">
              <p *ngIf="step3Form.controls['pengeluaran_per_bulan'].hasError('required') && step3Form.controls['pengeluaran_per_bulan'].touched">
                  <font color="red">Pengeluaran per bulan kosong</font>
              </p>
              </div>
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
               <input type="text" class="form-control input-md" placeholder="sumber_dana" required name="sumber_dana" [formControl]="step3Form.controls['sumber_dana']">
            </div>
         </div>
       </fieldset>
      </div>
      <div class="col-md-12">
         <!-- Button -->
         <div class="form-group">
            <div class="col-md-6 col-center">
               <button  class="btn btn-default" (click)="prevStepTwo(step3Form.value)">Kembali</button>
               <button  class="btn btn-red" (click)="nextStepFour(step3Form.value)"  [disabled]="!step3Form.valid">Lanjutkan</button>
            </div>
         </div>
      </div>
   </form>
</div>