<div class="form-account form-login-register" id="step-3">
    <h2>Registrasi</h2>
    <p>Silakan isi data berikut untuk mendaftarkan diri anda</p>
   <div class="row">
      <ul class="breadcrumb">
         <li class="completed"><a href="javascript:void(0);"><span><i class="fa fa-check" aria-hidden="true"></i></span> Data Diri </a></li>
         <li class="completed"><a href="javascript:void(0);"><span>2</span> Data Keluarga </a></li>
         <li class="active"><a href="javascript:void(0);"><span>3</span> Data Pekerjaan </a></li>
         <li><a href="javascript:void(0);"><span>4</span>  Data Penunjang</a></li>
      </ul>
   </div>
   <form class="form-horizontal clearfix row" id="registerForm" name="step3Form" novalidate>
      <h3>Data Pekerjaan</h3>
      <div class="col-md-6">
         <div class="form-group">
                <div class="col-md-12">
                <span class="required">*</span>
               <select class="form-control input-md" required name="pekerjaan" [(ngModel)]="register.id_pekerjaan">
                  <option selected disabled="">Pekerjaan</option>
                  <option *ngFor="let h of pekerjaan" [value]="h.id_pekerjaan">
                      {{ h.desc_pekerjaan }}
                  </option>
               </select>
            </div>    
         </div>
         <!-- Password input-->
         <div class="form-group">
            <div class="col-md-12">
               <input  type="text" placeholder="Nama Perusahaan" class="form-control input-md" required name="nama_perusahaan" [(ngModel)]="register.nama_perusahaan">
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
               <textarea placeholder="Alamat Perusahaan" class="form-control input-md" required name="alamat_perusahaan" [(ngModel)]="register.alamat_perusahaan"></textarea>
            </div>
         </div>
          <div class="form-group">
            <div class="col-md-12">
               <input  type="text" placeholder="Telepon Perusahaan" class="form-control input-md" required name="telepon_perusahaan" [(ngModel)]="register.telepon_perusahaan">
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-12">
               <input  type="text" placeholder="Jenis Usaha" class="form-control input-md" required name="jenis_usaha" [(ngModel)]="register.jenis_usaha">
            </div>
         </div>
          <div class="form-group">
            <div class="col-md-6">
               <input  type="text" placeholder="Jabatan" class="form-control input-md" required name="jabatan" [(ngModel)]="register.jabatan">
            </div>
             <div class="col-md-6">
               <input  type="text" placeholder="Tanggal Mulai Kerja" class="form-control input-md datepicker" id="tanggal_mulai_kerja" required name="tanggal_mulai_kerja" [(ngModel)]="register.tanggal_mulai_kerja">
            </div>
         </div>
         
      </div>
      <div class="col-md-6">
      <fieldset>
          <div class="form-group">
            <div class="col-md-8">
            <span class="required">*</span>
               <input  type="text" placeholder="Gaji Per Bulan" class="form-control input-md" required name="gaji_per_bulan" [(ngModel)]="register.gaji_per_bulan">
            </div>
             <div class="col-md-4">
                <span class="rupiah">Rupiah</span> 
             </div>
         </div>
          <div class="form-group">
            <div class="col-md-8">
            <span class="required">*</span>
               <input  type="text" placeholder="Pendapatan Lain" class="form-control input-md" required name="pendapatan_lain" [(ngModel)]="register.pendapatan_lain">
            </div>
             <div class="col-md-4">
               <span class="rupiah">Rupiah</span>
             </div>
         </div>
         <div class="form-group">
            <div class="col-md-8">
            <span class="required">*</span>
               <input  type="text" placeholder="Pengeluaran Per Bulan" class="form-control input-md" required name="pengeluaran_per_bulan" [(ngModel)]="register.pengeluaran_per_bulan">
            </div>
             <div class="col-md-4">
               <span class="rupiah">Rupiah</span>
             </div>
         </div>
         <div class="form-group">
                <div class="col-md-12">
               <select class="form-control input-md" required name="sumber_dana" [(ngModel)]="register.sumber_dana">
                  <option selected="">Sumber Dana</option>
                  <option value="0">Gaji</option>
                  <option value="1">Usaha</option>
               
               </select>
            </div>
         </div>
       </fieldset>
      </div>
      <div class="col-md-12">
         <!-- Button -->
         <div class="form-group">
            <div class="col-md-6 col-center">
               <button  class="btn btn-default" (click)="prevStepTwo(register)">Kembali</button>
               <button  class="btn btn-red" (click)="nextStepFour(register)">Lanjutkan</button>
            </div>
         </div>
      </div>
   </form>
</div>