<div class="box-header" align="center">
  <h2 class="box-title">Form Tambah Dana</h2>
</div>
<div class="box-body">
  <div align="center" *ngIf="statusDataAddFund == 0"> 
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div *ngIf="statusDataAddFund == 1">
    <form-add-fund [dataBanks]="banks" [dataBankMasscredits]="bankMassCredits" (dataFundCreate)="dataFundCreate($event)"></form-add-fund>
    <form-confirm-fund *ngIf="statusDataFundCreate == 1" [dataFundCreate]="dataCreate"></form-confirm-fund>
  </div>
</div>