<div class="row">
<div class="col-md-12">
  <div class="box bg-transparent">
    <ul class="nav nav-tabs" role="tablist">
     <li role="presentation">
        <a href="#/dashboard/user-action/user-loan" aria-controls="home" role="tab" aria-expanded="true" style="color:#34495e" (click)="invest()">Pinjaman Saya</a>
      </li>
      <li role="presentation">
        <a href="#/dashboard/user-action/user-invest" aria-controls="profile" role="tab" aria-expanded="false" style="color:#34495e" (click)="loan()" >Investasi Saya</a>
      </li>
    </ul>
    <br>
    <form class="form-horizontal clearfix row white-bg detail-page form-space">
    <div class="tab-content ">
      <div class="col-md-12">
        <!-- content route -->
        <router-outlet></router-outlet>
      </div>
    </div>
    </form>
  </div>
</div>
</div>