<div class="form-account form-login-register" id="step-4">
    <h2>Registrasi</h2>
    <p>Silakan isi data berikut untuk mendaftarkan diri anda</p>
   <div class="row">
      <ul class="breadcrumb">
         <li class="completed"><a href="javascript:void(0);"><span><i class="fa fa-check" aria-hidden="true"></i></span> Data Diri </a></li>
         <li class="completed"><a href="javascript:void(0);"><span>2</span> Data Keluarga </a></li>
         <li class="completed"><a href="javascript:void(0);"><span>3</span> Data Pekerjaan </a></li>
         <li class="active"><a href="javascript:void(0);"><span>4</span>  Data Penunjang</a></li>
      </ul>
   </div>
   <form class="form-horizontal clearfix row" id="registerForm" name="step4Form" method="post" enctype="multipart/form-data" novalidate>
      <h3>Data Penunjang</h3>
      <div class="col-md-4">
         <div class="form-group">
            <div class="col-md-12">
                <span class="required">*</span>
                <p>Upload Foto KTP bagian Depan</p>
                <input  type="file" placeholder="Password" class="form-control input-md" required id="foto_ktp_depan" >
            </div>    
         </div>
         </div>
         <div class="col-md-4">
          <div class="form-group">
            <div class="col-md-12">
                <span class="required">*</span>
               <p>Upload Foto KTP bagian Belakang</p>
         <input  type="file" class="form-control input-md" required name="foto_ktp_belakang" id="foto_ktp_belakang">
            </div>    
         </div>
         </div>
         <div class="col-md-4">
         <div class="form-group">
                <div class="col-md-12">
                <span class="required">*</span>
               <p>Upload Foto Anda</p>
         <input  type="file" class="form-control input-md" required name="foto_diri" id="foto_diri">
            </div>    
         </div>
      </div>
      <div class="col-md-12">
         <!-- Button -->
         <div class="form-group">
            <div class="col-md-6 col-center">
               <button  class="btn btn-default" (click)="prevStepThree(register)">Kembali</button>
               <button  class="btn btn-red" (click)="stepFinish()">Simpan</button>
            </div>
         </div>
      </div>
   </form>
</div>