<div class="form-login-register">
  <form class="form-horizontal clearfix row" name="createForm" id="createForm">
    <div class="col-md-12">
    <fieldset disabled>
      <div class="form-group">
          <label>Nominal Referensi :</label>
          <input type="text" placeholder="Nominal Referensi" class="form-control input-md" name="no_reference" id="no_reference" [(ngModel)]="data.no_reference">
       </div>
      <div class="form-group">
          <label>Nama Lengkap :</label>
          <input type="text" placeholder="Nama Lengkap" class="form-control input-md" name="nama_lengkap" id="nama_lengkap" [(ngModel)]="data.nama_lengkap">
      </div>
      <div class="form-group">
          <label>Nama Bank :</label>
          <input type="text" placeholder="Nama Bank" class="form-control input-md" name="other_bank" id="other_bank" [(ngModel)]="bank">
      </div>
      <div class="form-group">
          <label>Nomor Rekening :</label>
          <input type="text" placeholder="Nomor Rekening" class="form-control input-md" name="no_rekening" id="no_rekening" [(ngModel)]="data.no_rekening">
      </div>
    </fieldset>
      <div class="form-group">
        <span class="required">*</span>
          <label>Nominal :</label>
          <input type="text" placeholder="Nominal" class="form-control input-md" name="amount" id="amount" [(ngModel)]="data.amount" required>
      </div>
    </div>
  </form>
  <div class="col-md-12 col-center">
    <button class="btn-back-fund" (click)="cancelWithdrawal()">Batal</button>
    <button class="btn-submit-fund" id="createWithdrawal" name="singlebutton" type="submit" (click)="createWithdrawal(data)">Simpan</button>
  </div>
  <!-- component confirm after user success withdrawal fund -->
  <form-confirm *ngIf="statusFormConfirm == 1" [dataVerificationCode]="verificationCode" [dataId]="idWithdrawal" ></form-confirm>
  <!-- component for notif if data bank user blank -->
  <message *ngIf="data.bank == 'Belum diisi' || data.no_rekening == 'Belum diisi'"></message>
</div>