<div class="form-account form-login-register" id="step-1">
<br><br>
      <h2>Registrasi</h2>
      <p>Silakan isi data berikut untuk mendaftarkan diri anda</p>

      <form class="form-horizontal clearfix row" name="registerForm" id="registerForm">
         <div class="col-xs-6">
            <div class="form-group">
               <div class="col-xs-12">
               <span class="required">*</span>
                    <input  type="text" placeholder="Nama Lengkap" class="form-control input-md" [(ngModel)]="register.nama_lengkap" name="nama_lengkap">
               </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
               <span class="required">*</span>
                    <input  type="email" placeholder="Email" class="form-control input-md" [(ngModel)]="register.alamat_email" name="alamat_email">
              </div>
            </div>
            <!-- Password -->
            <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                    <input  type="password" placeholder="Password" class="form-control input-md" [(ngModel)]="register.password" name="password">
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                    <input  type="password" placeholder="Confirm Password" class="form-control input-md" [(ngModel)]="register.confirm_password" name="confirm_password">
               </div>
            </div>
          <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                    <input  type="text" placeholder="{{ nomor }}" class="form-control input-md" name="phone_number" id="phone_number" value="{{ nomor }}" disabled>
               </div>
            </div>
          <div class="form-group">
              <div class="col-md-12">
              <span class="required">*</span>
                  <select class="form-control input-md" name="jenis_kelamin" [(ngModel)]="register.jenis_kelamin" name="jenis_kelamin">
                     <option value="0" disabled>Jenis Kelamin</option>
                     <option value="1">Laki-laki</option>
                     <option value="2">Perempuan</option>                  
                  </select>
              </div>
          </div>
          </div>

          <div class="col-xs-6">

            <div class="form-group">
              <div class="col-xs-4">
               <span class="required">*</span>
                    <input  type="text" placeholder="Tempat Lahir" class="form-control input-md" [(ngModel)]="register.tempat_lahir" name="tempat_lahir">
              </div>
              <div class="col-xs-8">
               <span class="required">*</span>
                  <input  type="text" placeholder="Tanggal Lahir " name="tanggal_lahir" class="form-control input-md datepicker" id="tanggal_lahir" [(ngModel)]="register.tanggal_lahir">
               </div>
            </div>

            <div class="form-group">
               <div class="col-xs-12">
               <span class="required">*</span>
                    <textarea  type="text" placeholder="Alamat" class="form-control input-md" [(ngModel)]="register.alamat" name="alamat">
                    </textarea>
               </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
               <span class="required">*</span>
                    <input  type="text" placeholder="Kode Pos" class="form-control input-md" [(ngModel)]="register.kode_pos" name="kode_pos" id="kode_pos">
              </div>
            </div>
             <div class="form-group">
               <div class="col-md-12">
               <span class="required">*</span>
                  <select class="form-control input-md" name="status_rumah" [(ngModel)]="register.status_rumah" name="status_rumah">
                     <option value="0" disabled>Status Rumah</option>
                     <option value="1">Pribadi</option>
                     <option value="2">Kontrak</option>                  
                  </select>
               </div>
            </div>            
          </div>


      </form>
         <div class="col-xs-12">
            <!-- Button -->
            <div class="form-group">
               <div class="col-md-6 col-center">
                  <button class="btn btn-default" (click)="cancelRegister()">Batal</button>
                  <button type="submit" class="btn btn-red" (click)="sendRegister(register)">Daftar</button>
               </div>
            </div>
         </div>
</div>


