<div class="form-group clearfix">
  <div class="box-header">
<br><br><br>
    <h2 class="box-title pull-left">Data Pribadi</h2>
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Nama Lengkap</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="Nama Lengkap" class="with-unit form-control input-md" value="{{ profile.name }}" [(ngModel)]="data.nama_lengkap" name="nama_lengkap" id="nama_lengkap">
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Email Address</label>
  </div>
  <div class="col-md-9">
      <input type="text" value="{{ profile.email }}" class="with-unit form-control input-md" placeholder="Address Email" [(ngModel)]="data.alamat_email" name="alamat_email" id="alamat_email">
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Status Perkawinan</label>
  </div>
  <div class="col-md-9">
      <select class="form-control input-md" name="status_perkawinan" id="status_perkawinan" (change)="getStatusMarried($event.target.value)" [(ngModel)]="data.status_perkawinan">
          <option value="0" disabled>Status Perkawinan</option>
          <option [value]="1">Menikah</option>
          <option [value]="2">Belum Menikah</option>
      </select>
      <!-- <input type="text" *ngIf="complement_data.status_perkawinan == 0" placeholder="Status Perkawinan" class="with-unit form-control input-md" value="" [(ngModel)]="data.status_perkawinan">
      <input type="text" *ngIf="complement_data.status_perkawinan == 1" placeholder="Status Perkawinan" class="with-unit form-control input-md" value="Menikah" [(ngModel)]="data.status_perkawinan">
      <input type="text" *ngIf="complement_data.status_perkawinan == 2" placeholder="Status Perkawinan" class="with-unit form-control input-md" value="Belum Menikah" [(ngModel)]="data.status_perkawinan"> -->
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Sumber Pendapatan</label>
  </div>
  <div class="col-md-9">
       <select class="form-control input-md" name="sumber_pendapatan" id="sumber_pendapatan" (change)="getSumberPendapatan($event.target.value)" [(ngModel)]="data.sumber_pendapatan">
          <option value="0" disabled>Sumber Pendapatan</option>
          <option [value]="1">Kerja</option>
          <option [value]="2">Usaha</option>
       </select>
      <!-- <input type="text" *ngIf="complement_data.sumber_pendapatan == 0" placeholder="Status Perkawinan" class="with-unit form-control input-md" value="" [(ngModel)]="data.status_perkawinan">
      <input type="text" *ngIf="complement_data.sumber_pendapatan == 1" placeholder="Sumber Pendapatan" class="with-unit form-control input-md" value="Kerja" [(ngModel)]="data.sumber_pendapatan">
      <input type="text" *ngIf="complement_data.sumber_pendapatan == 2" placeholder="Sumber Pendapatan" class="with-unit form-control input-md" value="Usaha" [(ngModel)]="data.sumber_pendapatan"> -->
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">No Handphone</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="No Handphone" class="with-unit form-control input-md" value="{{ profile.phone_number }}" [(ngModel)]="data.phone_number" name="phone_number" id="phone_number" disabled>
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Telepon Perusahaan</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="Telepon Perusahaan" class="with-unit form-control input-md" value="{{ complement_data.tlp_perusahaan }}" [(ngModel)]="data.tlp_perusahaan" name="tlp_perusahaan" id="tlp_perusahaan">
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">No Rekening</label>
  </div>
  <div class="col-md-9">
      <input type="text" placeholder="No Rekening" class="with-unit form-control input-md" value="{{ complement_data.no_rekening }}" [(ngModel)]="data.no_rekening" name="no_rekening" id="no_rekening">
  </div>
</div>