<div *ngIf="statusMarried == 1 || data.status_perkawinan == 1">
<div class="form-group clearfix">
  <div class="box-header">
    <h2 class="box-title pull-left">Data Keluarga</h2>
  </div>
</div>
<div class="form-group clearfix">
  <div class="col-md-3">
    <label class="unit">Jumlah Anak</label>
  </div>
  <div class="col-md-9">
      <input type="text" *ngIf="complement_data.jumlah_anak == 0" placeholder="Jumlah Anak" class="with-unit form-control input-md" value="" [(ngModel)]="data.jumlah_anak" name="jumlah_anak" id="jumlah_anak">
      <input type="text" *ngIf="complement_data.jumlah_anak != 0" placeholder="Jumlah Anak" class="with-unit form-control input-md" value="{{ complement_data.jumlah_anak }}" [(ngModel)]="data.jumlah_anak" name="jumlah_anak" id="jumlah_anak">
  </div>
</div>
</div>