 <!-- Main content -->
<div class="content-wrapper">
<section class="content">
 <div class="row">
   <div class="col-md-12">
     <div class="box bg-transparent">
       <div class="box-header">
         <h2 class="box-title pull-left">Data Pelengkap</h2>
       </div>
       <div class="box-body">
         <div class="form-login-register">
           <form class="form-horizontal clearfix row" name="complementForm" id="complementForm">
              <div class="col-md-6">
              	<!-- Data Family  -->
              	<label>Data Keluarga</label>
                <div class="form-group">
                     <div class="col-md-12">
                       <span class="required">*</span>
                       <select class="form-control input-md" name="status_perkawinan" id="status_perkawinan" (change)="getStatusMarried($event.target.value)" [(ngModel)]="data.status_perkawinan">
                          <option value="0" disabled>Status Perkawinan</option>
                          <option [value]="1">Menikah</option>
                          <option [value]="2">Belum Menikah</option>
                       </select>
                     </div>
                </div>
                <!-- component if merried -->
                <personal-family *ngIf="statusMarried == 1"></personal-family> 

               	<!-- Data Work -->
               	<label>Data Pekerjaan</label>
                 <div class="form-group">
                     <div class="col-md-12">
                       <span class="required">*</span>
                       <select class="form-control input-md" name="sumber_pendapatan" id="sumber_pendapatan" (change)="getSumberPendapatan($event.target.value)" [(ngModel)]="data.sumber_pendapatan">
                          <option value="0" disabled>Sumber Pendapatan</option>
                          <option [value]="1">Kerja</option>
                          <option [value]="2">Usaha</option>
                       </select>
                     </div>
                 </div>
                 <!-- component if work -->
                <job *ngIf="sumberPendapatan == 1"></job>
                <!-- component if business -->
                <business *ngIf="sumberPendapatan == 2"></business>
               	
                <!-- Data Angsuran -->
                <label>Data Angsuran</label>
                <installment></installment> <!-- component installment data -->

               	<!-- Contact darurat kerabat -->
               	<label>Data Kerabat yang tidak serumah</label>
               	<family></family> <!-- component family -->

               </div> <!-- end input field in left side -->
               
               <div class="col-md-6"> <!-- input field in right side -->
                <fieldset>
                <!-- Data pendapatan lain 1 -->
               	<label>Data Pendapatan Lain</label>
               	<div class="form-group">
                 <div class="col-md-12">
                   <span class="required">*</span>
                   <select class="form-control input-md" name="pendapatanLainFirst" id="pendapatanLainFirst" (change)="getPendapatanLainFirst($event.target.value)">
                      <option value="0" disabled>Pendapatan lain</option>
                      <option [value]="1">Ya</option>
                      <option [value]="2">Tidak</option>
                   </select>
                 </div>
                </div>
                <!-- component if have other-income-one -->
                <div *ngIf="pendapatanLainFirst == 1">
                <other-income-one></other-income-one>
                <br>
                <div class="form-group">
                 <div class="col-md-12">
                   <span class="required">*</span> 
                   <select class="form-control input-md" name="pendapatanLainSecond" id="pendapatanLainSecond" (change)="getPendapatanLainSecond($event.target.value)" [(ngModel)]="data.pendapatan_lain_2">
                      <option value="0" disabled>Pendapatan lain</option>
                      <option [value]="1">Ya</option>
                      <option [value]="2">Tidak</option>
                   </select>
                  </div>
                </div>
                <!-- component if have other-income-two, and option for other-income-two yet in other-income-one -->
                <other-income-two *ngIf="pendapatanLainSecond == 1"></other-income-two> 
                </div> 
                <br>
               	<!-- Attach document -->
               	<label>Data Penunjang</label>
                <support></support> <!-- component support data -->

                 <br>
                 <!-- Data Bank -->
                <label>Data Bank</label>
                <bank></bank> <!-- component bank data -->
                 </fieldset>
               </div> <!-- end input field in right side -->
               <div class="col-md-12">
                 <div class="form-group">
                    <div class="col-md-6 col-center">
                      <a href="#/dashboard" class="btn btn-default">Batal</a>
                      <button class="btn btn-red" (click)="submitData(data)">Simpan</button>
                    </div>
                 </div>
              </div>
           </form>
         </div>
       </div>
    </div>
   </div>
 </div>
</section>
</div>
<!-- /.content -->