 <!-- Main content -->
<div class="content-wrapper">
<section class="content">
 <div class="row">
   <div class="col-md-12">
     <div class="box bg-transparent">
       <div class="box-header">
         <h2 class="box-title pull-left">Data Pelengkap</h2>
       </div>
       <div class="box-body">
         <div class="form-login-register">
           <form class="form-horizontal clearfix row" name="complementForm" id="complementForm">
              <div class="col-xs-12">
              <!-- Main content -->
              <section class="content list-user">
                <div class="row">
                  <div class="col-md-12">
                    <div class="box bg-transparent">
                      <div class="box-header">
                        <!-- header -->
                      </div>          
                        <div class="form-horizontal clearfix row white-bg detail-page form-space">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                          <a href="#personal" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false" data-toggle="tab" style="color:#34495e" (click)="tabPersonal(1)">
                            Data Diri
                          </a>
                        </li>
                        <li role="presentation" class="">
                          <a href="#family" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false" style="color:#34495e" (click)="tabFamily(1)">
                            Data Keluarga
                          </a>
                        </li>
                        <li role="presentation" class="">
                          <a href="#job" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false" style="color:#34495e" (click)="tabJob(1)">
                            Data Pekerjaan
                          </a>
                        </li>
                        <li role="presentation" class="">
                          <a href="#collateral" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false" style="color:#34495e" (click)="tabCollateral(1)">
                            Data Pinjaman
                          </a>
                        </li>
                        <li role="presentation" class="">
                          <a href="#support" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false" style="color:#34495e" (click)="tabSupport(1)">
                            Data Penunjang
                          </a>
                        </li>
                      </ul>  
                      <!-- Tab panes -->
                      <br>
                      <!-- <form class="form-horizontal clearfix row white-bg detail-page form-space" id="complementForm" name="complementForm"> -->
                      <div class="tab-content ">
                      <h1></h1>
                        <div class="col-md-12">
                        <!-- Tab panes -->
                        <div class="tab-content ">
                          <div role="tabpanel" class="tab-pane active" id="personal">  
                            <!-- content personal data  -->
                          <label>Data Diri</label>
                          <div class="form-group">
                               <div class="col-md-12">
                                 <span class="required">*</span>
                                 <select class="form-control input-md" name="status_perkawinan" id="status_perkawinan" (change)="getStatusMarried($event.target.value)" [(ngModel)]="data.status_perkawinan">
                                    <option value="0" disabled>Status Perkawinan</option>
                                    <option [value]="1">Menikah</option>
                                    <option [value]="2">Belum Menikah</option>
                                 </select>
                               </div>
                          </div>
                          <!-- component if merried -->
                          <personal-family *ngIf="statusMarried == 1"></personal-family> 
                          </div>
                        <div role="tabpanel" class="tab-pane" id="family"> 
                        <!-- content family data  -->
                        <label>Data Keluarga</label>
                        <family></family> <!-- component family -->
                        <br>
                        <br>
                          <div class="box-body data-tables table-responsive">

                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="job"> 
                          <!-- content job data  -->
                          <label>Data Pekerjaan</label>
                          <div class="form-group">
                             <div class="col-md-12">
                               <span class="required">*</span>
                               <select class="form-control input-md" name="sumber_pendapatan" id="sumber_pendapatan" (change)="getSumberPendapatan($event.target.value)" [(ngModel)]="data.sumber_pendapatan">
                                  <option value="0" disabled>Sumber Pendapatan</option>
                                  <option [value]="1">Kerja</option>
                                  <option [value]="2">Usaha</option>
                               </select>
                             </div>
                          </div>
                          <!-- component if work -->
                          <job *ngIf="sumberPendapatan == 1"></job>
                          <!-- component if business -->
                          <business *ngIf="sumberPendapatan == 2"></business>

                          <label>Data Pendapatan Lain</label>
                          <div class="form-group">
                           <div class="col-md-12">
                             <span class="required">*</span>
                             <select class="form-control input-md" name="pendapatanLainFirst" id="pendapatanLainFirst" (change)="getPendapatanLainFirst($event.target.value)">
                                <option value="0" disabled>Pendapatan lain</option>
                                <option [value]="1">Ya</option>
                                <option [value]="2">Tidak</option>
                             </select>
                           </div>
                          </div>
                          <!-- component if have other-income-one -->
                          <div *ngIf="pendapatanLainFirst == 1">
                          <other-income-one></other-income-one>
                          <br>
                          <div class="form-group">
                           <div class="col-md-12">
                             <span class="required">*</span> 
                             <select class="form-control input-md" name="pendapatanLainSecond" id="pendapatanLainSecond" (change)="getPendapatanLainSecond($event.target.value)" [(ngModel)]="data.pendapatan_lain_2">
                                <option value="0" disabled>Pendapatan lain</option>
                                <option [value]="1">Ya</option>
                                <option [value]="2">Tidak</option>
                             </select>
                            </div>
                          </div>
                          <!-- component if have other-income-two, and option for other-income-two yet in other-income-one -->
                          <other-income-two *ngIf="pendapatanLainSecond == 1"></other-income-two> 
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="collateral"> 
                          <!-- content job data  -->
                          <!-- <label>Data Jaminan</label> -->
                          <div class="box-body data-tables table-responsive">
                          <table class="table table-hover" id="example2">
                          <thead>
                            <tr>
                              <th>No.</th>
                              <th>Gambar</th>
                              <th>Nama Investasi</th>
                              <th>Jenis Jaminan</th>
                              <th>Taksiran Harga</th>
                              <th>Deskripsi</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                               <td>1</td>
                              <td>
                                <img src="../../assets/img/user4-128x128.jpg">
                              </td>
                              <td>Warung Kelontongan</td>
                              <td><span class="warranty">Tanpa Jaminan</span></td>
                              <td>15.500.000</td>
                              <td>3.000.000</td>
                              <td>
                                <a class="pull-right" href=""><i aria-hidden="true" class="fa fa-trash-o"></i></a>
                                <a class="pull-right" href=""><i aria-hidden="true" class="fa fa-search"></i></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                          <collateral></collateral> <!-- component collateral data -->
                        </div>
                        <div role="tabpanel" class="tab-pane" id="support"> 
                          <!-- content support data  -->
                          <label>Data Penunjang</label>
                          <support></support> <!-- component support data -->
                        </div>
                        </div>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                       <div class="form-group">
                          <div class="col-md-6 col-center">
                            <a href="#/dashboard" class="btn btn-default">Batal</a>
                            <button class="btn btn-red" (click)="submitData(data)">Simpan</button>
                          </div>
                       </div>
                      </div>
                    <!-- </form>      -->
                  </div>
                </div>
              </div>
              </section> 
              <!-- /.content -->
              </div>
           </form>
         </div>
       </div>
    </div>
   </div>
 </div>
</section>
</div>
<!-- /.content -->